.page-id-12 .sidebar,.page-header-module{
    display:none;
}
.page-id-12 .entry-content{
    overflow: hidden;
    width: 100%;
}
.page-id-12 label span{
    color: red;
}
.page-id-12 .contact-form form{
    width: 90%;
}
.page-id-12 .wpcf7-form input:not([type="submit"]),.page-id-12 .wpcf7-form textarea{
    background: #f0f0f0;
}
.page-id-12 .wpcf7-form textarea{
    height: 10vw;
}
.page-id-12 .facebook,.page-id-12 .instagram{
    margin: 20px 0 5px 0;
}
.page-id-12 .facebook img,.page-id-12 .instagram img{
    width: 8vw;
    padding: 10px;
}
.contact-us-txt{
    display: block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: Lato;
}
.page-id-12 .container>.row{
    width: 100%;
    margin:0;
}
.page-id-12 .shop-isle-page-content{
    width: 100%;
}
.wpcf7-form p{
    overflow: hidden;
    width: 100%;
    font-family: Lato;
}
.wpcf7-form p:nth-child(3),.wpcf7-form p:nth-child(2){
    float: left;
    width: 50%;
}
#wpcf7-f17-p12-o1 .wpcf7-submit{
    width: auto;
    background: white;
    text-transform: none;
    font-weight: bold;
    padding: 5px 20px;
    color: black;
    font-family: Lato;
    border: #f8c7dc solid 2px;
}
span.wpcf7-list-item{
    margin: 0;
}
#wpcf7-f17-p12-o1 .your-name{
    margin-right: 22px;
}
.content-banner .stars img{
    width: 11vw;
}
.banner-contact,.banner-contact img{
    width: 100%;
}
.banner-contact{
    position: relative;
}
.content-banner{
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 0;
    padding: 45px 0;
}

.content-banner h2,.content-banner h4,.content-banner h1{
    margin: 0;
    font-family: Lato;
}
.content-banner h1{
    margin-top: 20px;
    text-transform: uppercase;
    font-family: Lato;
}
@media(max-width: 992px){
    .page-id-12 .contact-form form{
        margin: auto;
    }
    .content-banner{
        padding: 20px 0;
    }
    .content-banner h1{
        font-size: 3vw;
    }
    .content-banner h2{
        font-size: 2vw;
    }
    .content-banner h4 {
        font-size:1.5vw
    }
    .contact-us-txt{
        display:none;
    }
    .page-id-12 .facebook, .page-id-12 .instagram{
        border: 1px solid black;
    }
    .page-id-12 .facebook img, .page-id-12 .instagram img {
        width: 15vw;
    }
}

@media (max-width: 767px) {
    .wpcf7-form p:nth-child(3), .wpcf7-form p:nth-child(2),.page-id-12 .contact-form form{
        width:100%;

    }
    #wpcf7-f17-p12-o1 .your-name{
        margin: 0;
    }

}
/* blog detail style */
.post-template-default .post-title,
.post-template-default .post-meta{
    font-family: "Open Sans";
}
.post-meta::after{
    width: 42px;
    margin: 15px auto;
    height: 4px;
    background-color: #D3F3FF;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}
.btn__block-blue{
    transition: background-color, 300ms;
    border: 1px solid #30294b;
    background-color: #30294b;
    color: #ffffff;
    padding: 1.5rem 2.375rem;
    text-align: center;
    text-decoration: none;
}
.btn__block-blue:hover{
    background: white;
    color: black;
}
.blog-detail a{
    text-decoration: underline;
}
.post-template-default .blog-detail{
    max-width: 850px;
    margin: auto;
}
.post-template-default .sidebar{
    display: none;
}
.post-template-default .post-title{
    text-transform: none;
    font-weight: 600;
}
.post-template-default .shop-isle-page-content{
    width: 100%;
    text-align: center;
}
.post-template-default .post-meta a,.post-template-default .post-navigation,.post-template-default .comments-area{
    display: none;
}
.post-meta a:nth-child(2){
    display: block;
    font-weight: 600;
}
.post-entry{
    border: none;
    text-align: left;
}
.post-template-default strong{
    color:black;
    font-size:18px;
}
.post-template-default p{
    font-size:16px;
}
.image-content{
    padding: 0 30px;
}
/* style PR page */
.pr-content{
    color:black;
    text-align:center;
    font-family:"Open Sans"
}
.content-pr p{
    max-width: 970px;
    margin:auto;
}
.title-pr{
    border-bottom:2px solid #f0f0f0;
    padding-bottom: 25px;
    text-transform:uppercase;
}
.collaborative{
    margin:40px 0 20px 0
}
.example{
    margin:20px 0;
}
.pr-box-image .image-box{
    text-align: center;

}
.pr-box-image-2 .image-box{
    margin-top: 45px;
    text-align: center;
}
.image-box h4{
    padding: 10px 0;

}
.pr-box-image,.pr-box-image-2{
    overflow: hidden;
}
.contact-link {
    text-align: center;
    text-transform: uppercase;
    width: 45%;
    margin: 20px auto;
    border: #f8c7dc solid 2px;
}
#post-249 .hero-block__wrapper{
    padding-top: 22.25%;
}
#post-249 .hero-block.block{
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}
.page-id-249 .module{
    padding: 0;
}
@media(max-width: 625px) {
    .contact-link{
        font-size: 28px;
        width: 65%;
    }
    .content-banner .stars img{
        width: 150px;
        height: inherit;
    }
    .banner-contact img{
        width: 100%;
        height: 140px;
    }
    .content-banner h1{
        font-size: 16px;
    }
    .content-banner h2{
        font-size: 14px;
    }
    .content-banner h4{
        font-size: 12px;
    }
}
.header-bl-info{
    position: absolute;
    right: 1%;
    letter-spacing: 2px;
}
.header-bl-info .info-head{
    color: white;
    text-transform: none;
    font-size: 15px;
    font-family: Lato;
    font-weight: 600;
    letter-spacing: 2px;
}
@media(max-width: 1024px) {
    .header-bl-info{
        display: none;
    }
}
@media(max-width: 1280px) {
    .header-bl-info .info-head{
        letter-spacing: 1px;
        font-size: 12px;
    }
}
@media(max-width: 1440px) {
    .header-bl-info{
        top: 50%;
        transform: translateY(-50%);
    }
}
@media(max-width: 2560px) {
    .header-bl-info{
        top: 50%;
    }
}
