body{
    overflow: hidden;
}
.event-hero-block__wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 35%;
}
.event-inline-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
}
.event-inline-background-cover video{
    width: 100%;
    height: auto;
}
.event-inline-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.event-hero-block__contents {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0 25px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.event-hero-block__title {
    margin: 0 0 15px;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    line-height: 70px;
    font-size: 70px;
    width: 64%;
    max-width: 1000px;
    text-transform: uppercase;
}
.description-for-SEO{
    max-width: 100%;
    margin: 30px 80px 0px 80px;

}

.description-for-SEO p{
    font-family: Lato;
    font-size: 20px;
    line-height: 27px;
    font-weight: 300;
    color: rgb(0,0,0);
    text-align: center;
    font-style: normal;
}
.ev-usp-block__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 30px;
    width: 100%;
}
.ev-usp-block__item:nth-child(1n) {
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 3/9 - 13.333333333333332px);
    max-width: calc(99.9% * 3/9 - 13.333333333333332px);
    width: calc(99.9% * 3/9 - 13.333333333333332px);
}
.ev-usp-block__details {
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 90px 0 0 0;
    flex-grow: 1;
    color: #fff;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.ev-usp-block__title-link {
    transition: color .2s ease-out;
    text-decoration: none;
    color: #fff;
    height: 250px;
}
.ev-usp-block__title {
    width: 100%;
    margin: 90px 0;
    font-family: "Lato";
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    line-height: 49px;
    font-size: 39px;
    max-width: 500px;
    padding: 0 12px;
    letter-spacing: 3px;
}
.ev-usp-block__subtitle {
    max-width: 450px;
    width: 100%;
    margin: 0 0 15px;
    font-family: Lora,Times New Roman,serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;
    line-height: 32px;
    font-size: 20px;
}
.ev-usp-block__cta.btn {
    min-width: 184px;
    padding: 16px 20px;
    background-color: #fff;
    font: normal normal 700 16px/24px Lato;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 250px;
    letter-spacing: 1px;
    display: inline-block;
    align-self: flex-end;
    margin-bottom: -40px;
    border: #f8c7dc solid 1px;
}
.ev-usp-block__item:nth-child(3n){
    margin-right: 0;
}
.eventsbut{
    margin-top: 15px;
    max-width: 100%;
}
.eventsbut .link-ev{
    padding:40px 0;
    margin: 0 auto;
    display: block;
    width: fit-content;
}
.eventsbut .link-ev a{
    color: black;
    padding: 20px 35vw;
    border: #f8c7dc solid 3px;
}
.eventsbut .link-ev a span {
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 700;
}
.eventspage .ev-gallery{
    margin-bottom: 35px;
}
.ev-gallery p{
    width: 100%;
    text-align: center;
}

@media(max-width: 1024px){
    .ev-usp-block__title {
        line-height: 50px;
        font-size: 30px;
        display: flex;
        align-items: flex-end;
    }
    .ev-usp-block__item{
        margin-bottom: 15px;
    }
    .ev-usp-block__item:nth-child(1n){
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .ev-usp-block__subtitle{
        max-width: inherit;
    }
    .description-for-SEO {
        margin: 30px 60px 0px 60px;
    }
    .event-hero-block.block{
        margin-top: 80px;
    }
    .event-hero-block__title{
        font-size: 46px;
        line-height: 50px;
    }
    .event-hero-block__title{
        width: 80%;
    }
    .event-hero-block__contents{
        top: 80px;
        padding: 0 15px;
    }
    .eventsbut .link-ev a{
        padding: 20px 30vw;
    }
}

@media(max-width: 768px){
    .event-hero-block__wrapper{
        padding-top: 40%;
    }
    .description-for-SEO {
        margin: 30px 40px 0px 40px;
        font-size: 18px;
    }
    .ev-usp-block__wrapper{
        padding: 10px 20px;
    }
    .eventsbut .link-ev a {
        padding: 20px 23vw;
    }
    .event-hero-block__contents{
        top: 80px;
        padding: 0 15px;
    }
}

@media (max-width: 425px) {
    .event-hero-block__wrapper{
        padding-top:55%;
    }
    .ev-usp-block__title{
        margin-bottom: 20px;
    }
    .event-hero-block__title{
        width: 100%;
        font-size: 36px;
        line-height: 1.2;
    }
    .ev-usp-block__wrapper {
        padding: 10px 10px;
    }
    .event-hero-block__title{
        font-size: 20px;
        position: absolute;
        top: 50%;
        z-index: 99;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .event-hero-block__contents{
        position: unset;
        padding: 0 15px;
    }
    .description-for-SEO{
        margin: 15px 20px 0 20px;
    }
    .description-for-SEO p{
        font-size: 16px;
    }
    .eventsbut .link-ev a {
        padding: 20px 7vw;
    }
}
@media(max-width: 375px)  {
    .eventsbut .link-ev a {
        padding: 20px 3vw;
    }
    .eventsbut .link-ev a span {
        font-size: 18px;
    }
}
/*blog page*/
.blog-page .blog-title{
    padding: 30px 20px;
}
.blog-page .blog-title h2{
    font-family: Lato;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}
.post-date-blog{
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: lato;
    padding-left: 10px;
    padding-right: 10px;
}
.post-title-blog{
    color: white;
    font-size: 22px;
    font-family: lato;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.post-blog-items:hover {
    background-color: #EEEEEE;
}
.vc_gitem-animated-block:hover{
    color: #EEEEEE;
}
.post-read-more{
    padding-left: 10px;
    padding-right: 10px;
}
.post-read-more .vc_btn3.vc_btn3-style-custom{
    background: transparent;
    background-image: none;
    background-color: transparent !important;
    padding-left: 0;
}
.post-items-blog{
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
@media (max-width: 768px){
    .post-blog-1{
        margin-top: 20px;
    }
    .post-items-blog:nth-child(1){
        margin-top: 20px;
    }
}
@media (max-width: 625px){
    .blog-page .blog-title h2{
        font-size: 30px;
        line-height: 30px;
    }
    .blog-page .blog-title{
        padding: 10px 10px;
    }
}
.bg-dark{
    display: none;
}
.blg-date{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.blg-info{
    position: absolute;
    bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.blg-bl{
    display: block;
}
.blg-title{
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.blg-readmore{
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.blg-img img{
    width: 100%;
}
/*gallery*/
.c-width .pic{
    max-height: 250px !important;

    width: auto;
}
/*social media*/
.sm-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.SEO-text{
    padding-top: 20px;
}
.sm-but{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.sm-but a{
    border: #f8c7dc solid 2px;
    padding: 10px 21%;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.SEO-text p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    font-family: Lato;
    padding: 20px 0 10px 0;
    color: #000;
}
.sm-text-for-SEO p{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: Lato;
    color: #000;
}
.sm-title{
    font-family: Lato;
    font-size: 28px;
    font-weight: 700;
    margin: 30px 0 30px 20px;
    color: black;
}
.social-media{
    /*overflow: hidden;*/
}
.page-sm-img{
    border: lavender solid 1px;
    max-height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 992px){
    .page-sm-img {
        margin-top: 20px;
    }
    .sm-title{
        margin-bottom: 0px;
    }
    .sm-text-for-SEO p{
        font-size: 18px;
    }
    .SEO-text p{
        font-size: 16px;
    }
    .sm-but a{
        padding: 10px 30%;
    }
}
@media(max-width: 625px) {
    .sm-title{
        padding-left: 0;
    }
}
/*--------------venues----------*/
.text-venues p{
    font-family: Lato;
    font-size: 18px;
    text-align: center;
    color: black;
    font-weight: 300;
}
/*------------comming soon---------*/
.web-contact-us{
    text-align: center;
    text-transform: uppercase;
    width: 35%;
    border: #f8c7dc solid 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10%;
}
.web-comming-soon-img{
    width:100%;
}
.website-cm{
    position: relative;
}
.website-cm p {
    display: none;
}
.web-contact-us a{
    color:white;
}
@media(max-width: 768px) {
    .web-comming-soon-img{
        padding-top: 50px;
    }
    .web-contact-us {
        font-size: 25px;
    }
}
@media(max-width: 620px) {
    .web-contact-us {
        font-size: 18px;
        width: 40%;
    }
}
.header-search{
    display: none !important;
}