.footer-block__pages-links-wrapper {
    padding: 10px 10px 10px 10px;
}
.footer-block__menu--wrapper{
    padding-left: 22px;
    max-width: 246px;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
}
.footer-block__pages-links-wrapper {
    width: 100%;
    background: black;
    color: #fff;
    display: flex;
}
.footer-block__pages-links-wrapper a{
    color: white;
}
.footer-block__pages-links-wrapper ul {
    padding-bottom: 23px;
    max-width: 250px;
    min-width: 150px;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    align-items: flex-start;
    flex-flow: column nowrap;
    display: flex;
    width: 100%;
}
.footer-block__menu {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.333%;
    max-width: 33.333%;
    width: 33.333%;
    margin-right: 25px;
    border-right: 1px solid hsla(0,0%,62%,.2);
}
.footer-block__pages-links-wrapper ul li{
    text-align: left;
    margin-top: 10px;
    font-family: Lato;
}

.footer-block__menu li a {
    font-size: 20px;
}

.footer-block__secondary-links ul {
    display: flex;
    width: auto;
    padding-left: 0;
    flex-direction: column;
    text-transform: uppercase;
    flex-direction: row;
    list-style-type: none;
    margin:0;
    flex-wrap: wrap;
}
.footer-block__secondary-links li {
    padding: 3px 10px;
}
.footer-block__secondary-links a{
    color:white;
    font: 700 normal 12px/30px Montserrat,Arial,sans-serif;
    letter-spacing: 1px;
}
.footer-block__menu:last-child {
    margin-right: 0;
}

.footer-block__social h3 {
    margin: 0 20px 0 0;
    font: 700 normal 19px/1 Montserrat,Arial,sans-serif;
}
.footer-block__social ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footer-block__social li {
    width: auto;
    margin: 0 10px;
    display: inline;
    text-align: center;
}

.footer-block__info ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin:0;
    padding-left: 0;
    list-style-type: none;
}
.footer-block__info li {
    width: auto;
    margin: 0 25px;
}
.footer-block__info a {
    color: #c6c6c6;
    text-decoration: none;
}
.footer-block__social ul li a{
    color:white;
    font-size: 26px;
    font-weight: 100;
    letter-spacing: 16px;
}

.footer-block__menu-studio li img{
    margin-right: 12px;
    float: left;
}
.footer-block__menu-studio--hollywood {
    padding-top: 27px;
}
.footer-block__menu-studio li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    min-width: 179px;
}
.footer-block__menu-studio li svg {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    margin-right: 12px;
    fill: #8cd0e5;
}
.footer-block__menu-studio li.footer-block__menu-studio--wrapper svg {
    fill: #fff;
    float:left;
}
.footer-block__pages-links-wrapper .footer-block__menu-studio--hollywood {
    padding-bottom: 0;
}

badges-block__review-stars{
    line-height: 14px;
}
@media (max-width: 1920px){
    .footer-block__pages-links-wrapper{
        padding-left: 0;
    }
    .footer-block__menu{
        width: 33.333%;
        max-width: 33.333%;
        flex-basis: 33.333%;
        margin-right: 0;
    }
    .footer-block__menu-studio.footer-block__menu{
        padding-left: 15px;
    }
}
@media (max-width: 768px) {
    .footer-block__pages-links-wrapper{
        display: block;
        overflow: hidden;
    }
    .footer-block__menu{
        margin-right: 0;
        width: 50%;
        max-width: 50%;
        flex-basis: 50%;
        flex-shrink:inherit;
        float: left;
        border: none;
    }
    .footer-block__menu:last-child{
        margin-top: 20px;
    }

}
@media (max-width: 425px){
    .footer-block__menu{
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
        padding-bottom: 20px;
        padding-top: 15px;
        border-bottom: 1px solid hsla(0, 0%, 62%, .2);
        padding-left: 0;
    }

    .footer-block__pages-links-wrapper {
        padding: 0 0 10px 10px;
    }
    .footer-block__social ul li a{
        letter-spacing: inherit;
    }
    .footer-block__menu--wrapper{
        padding-left: 0;
    }

    .footer-block__social h3{
        margin-bottom: 20px;
    }
    .badges-block__title.title.title__flourish.title__flourish--3 img{
        display: none;
    }

}
.footer-block__pages-links-wrapper .head-ft{
    font-weight: 600;
    font-family: "Lato";
}
.footer-block__menu--wrapper .mxh{
    display: block;
}
.footer-block__menu--wrapper .mxh li{
    display:  inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    position: relative;
}
.footer-block__menu--wrapper .mxh li a img{
    max-width:100%;
    position: absolute;
}