body.home{
    overflow: hidden;
}

.hero-block__wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.ytp-watermark.yt-uix-sessionlink,.ytp-large-play-button.ytp-button,.ytp-chrome-top.ytp-show-watch-later-title.ytp-share-button-visible.ytp-show-share-title.ytp-show-cards-title{
    display: none!important;
}
.inline-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: block;
}
.inline-background-cover img, .inline-background-cover picture, .inline-background-cover video {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    transform: translate(-50%,-50%);
    display: inline-block;
}
.inline-background-cover video{
    width: 100%;
    height: auto;
}
.inline-background-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.hero-block__image {
    z-index: 1;
}
.inline-background-cover picture,.inline-background-cover img{
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    transform: translate(-50%,-50%);
}
.hero-block__contents {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 0 25px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero-block__flourish {
    height: 80px;
    width: 140px;
    fill: #fff;
    margin-bottom: 60px;
}
.hero-block__title {
    margin: 0 0 15px;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    line-height: 80px;
    font-size: 70px;
    width: 64%;
    max-width: 1000px;
    text-transform: uppercase;
}
.hero-block__subtitle {
    max-width: 450px;
    width: 100%;
    margin: 0 0 30px;
    font-family: Lora,Times New Roman,serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 20px;
}
.hero-block__cta.booking.header-block__ticket a{
    padding: 16px 20px;
    max-width: 250px;
    font: normal normal 700 16px/24px Montserrat,Arial,sans-serif;
    color: #000;
    height: 56px;
}
.hero-block__cta.booking.header-block__ticket img:last-child {
    margin-left: 2px;
    height: 56px;
}
.hero-block__cta.booking.header-block__ticket img:first-child{
    margin-right: 2px;
    height: 56px;
}
.hero-block__cta.booking {
    padding: 0 20px 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 12px;
}
.hero-block__disclaimer {
    font: 700 normal 12px/15px Montserrat,Arial,sans-serif;
    color: #fff;
    text-align: center;
}
.usp-block__wrapper {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
    width: 100%;
}
.usp-block__item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.usp-block__item:nth-child(1n) {
    margin-right: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 3/9 - 13.333333333333332px);
    max-width: calc(99.9% * 3/9 - 13.333333333333332px);
    width: calc(99.9% * 3/9 - 13.333333333333332px);
}
.usp-block__details {
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 60px 0 80px;
    flex-grow: 1;
    color: #fff;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
}
.usp-block__title-link {
    transition: color .2s ease-out;
    text-decoration: none;
    color: #fff;
    height: 250px;
    width: 100%;
}
.usp-block__title {
    width: 100%;
    margin: 100px 0 0;
    font-family: Lato;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
    line-height: 49px;
    font-size: 39px;
    padding: 0 12px;
    letter-spacing: 3px;
}
.usp-block__subtitle {
    max-width: 450px;
    width: 100%;
    margin: 0 0 15px;
    font-family: Lora,Times New Roman,serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    word-wrap: break-word;
    line-height: 32px;
    font-size: 20px;
}
.usp-block__cta.btn {
    min-width: 184px;
    padding: 16px 20px;
    background-color: #fff;
    font: normal normal 700 16px/24px Montserrat,Arial,sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 250px;
    letter-spacing: 1px;
    display: inline-block;
    align-self: flex-end;
}
.usp-block__item:nth-child(3n){
    margin-right: 0;
}
.badges-block hr {
    border: 0;
    height: 0;
    width: 95%;
    margin: 25px auto 0;
}
.calendar-block {
    position: relative;
    display: flex;
    padding: 35px 50px 25px;
    flex-direction: column;
    align-items: center;
}
.calendar-block__background {
    position: absolute;
    top: 220px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.page .calendar-block__title {
    margin-bottom: 30px;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 700;
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    max-width: 160px;
    word-wrap: break-word;
    line-height: 40px;
    font-size: 30px;
    letter-spacing: 2px;
    max-width: 1000px;
}
.calendar-block__title svg{
    position: absolute;
    top: 9px;
}
.calendar-block__title svg:first-child{
    left: -76px;
}
.calendar-block__title svg:last-child{
    right: -76px;
}
.calendar-block__events {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.calendar-block__event{
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    flex-direction: column;
    background-size: cover;
}
.calendar-block__event {
    margin-right: 30px;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - 20px);
    max-width: calc(99.9% * 1/3 - 20px);
    width: calc(99.9% * 1/3 - 20px);
    margin-bottom: 25px;
}
.calendar-block__event:nth-child(3n) {
    margin-right: 0;
    margin-left: auto;
}
.calendar-block__event--details {
    padding: 40px 20px;
    display: flex;
    border: 8px solid transparent;
    background: rgba(0,0,0,.5);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.calendar-block__event--category {
    color: #66bbb0;
    margin-bottom: 20px;
    font: 700 normal 18px/22px Montserrat,Arial,sans-serif;
}
.calendar-block__event--title {
    line-height: 40px;
    font-size: 30px;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 0 15px;
    font-family: Lato;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
    word-wrap: break-word;
    text-transform: uppercase;
}
.calendar-block__event--title:before {
    bottom: -25px;
    border-bottom: 1px solid #66bbb0;
    content: "";
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
.calendar-block__event--date {
    margin: 20px 0 40px;
    font: 700 normal 18px/32px Lora,Times New Roman,serif;
    color: #fff;
    word-wrap: break-word;
    text-align: center;
    padding: 0 10px;
    max-width: 350px;
    width: 100%;
}
.btn {
    padding: 16px 20px;
    background-color: #fff;
    font: normal normal 700 16px/24px Montserrat,Arial,sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    max-width: 250px;
    letter-spacing: 1px;
    display: inline-block;
    margin:0;
}

.coming-soon .calendar-block__event--category{
    color: #9695d3;
}

.always-on .calendar-block__event--category{
    color:  #6adcff;
}
.cross-sell-block {
    padding: 80px 120px;
    background: #f2f2f2;
}
.cross-sell-block__items {
    display: flex;
    flex-flow: row wrap;
}
.cross-sell-block__item {
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
    margin-bottom: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 2/4 - 10px);
    max-width: calc(99.9% * 2/4 - 10px);
    width: calc(99.9% * 2/4 - 10px);
    background-position: 50%!important;
    background-size: cover!important;
    flex-direction: column;
}
.cross-sell-block__item:first-child{
    margin-right: 20px;
}
.cross-sell-block__details {
    display: flex;
    border: 8px solid transparent;
    padding: 30px 0 25px;
    background: rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 2px #7474c1;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.newsletter .cross-sell-block__details {
    box-shadow: inset 0 0 0 2px #66bbb0;
}
.shop .cross-sell-block__details{
    box-shadow: inset 0 0 0 2px #7474c1;
}
.cross-sell-block__title {
    line-height: 56px;
    font-size: 40px;
    max-width: 380px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    padding: 0;
    margin: 0 0 10px;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}
.cross-sell-block__subtitle {
    line-height: 26px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Lora,Times New Roman,serif;
    font-style: italic;
    font-weight: 400;
    width: 100%;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    max-width: 340px;
}
.cross-sell-block__icon {
    margin-bottom: 10px;
    fill: #fff;
    stroke: #fff;
}
.newsletter .cross-sell-block__icon {
    height: 138px;
    width: 163px;
}
.cross-sell-block__cta {
    background-color: #006e63;
    color: #fff;
}
.shop .cross-sell-block__icon {
    height: 80px;
    width: 140px;
}
.shop .cross-sell-block__cta {
    margin-top: 30px;
    background-color: #7474c1;
}

.amazingcarousel-image div a{
    display: none!important;
    opacity: 0;
    height: 0!important;
    padding: 0!important;
}
.amazingcarousel-image div{
    padding: 0!important;
}
#wonderplugincarousel-1 .amazingcarousel-item-container {
    background-color: inherit!important;
    border: none!important;
    box-shadow: none!important;
}
#wonderplugincarousel-1 .amazingcarousel-image img{
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
}
.badges-block__title.title.title__flourish.title__flourish--3{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}
.amazingcarousel-list-wrapper{
    margin: 0 auto;
}
.amazingcarousel-list-container{
    width: 100%!important;
}
.instagram-blockhp{
    margin-top: 15px;
}
.instagram-blockhp .logo_insta{
    width: 120px;
    display: block;
    margin: 0 auto;
}
#sb_instagram{
    padding-top: 15px;
    position: relative;
}
#sb_instagram .sb_instagram_header{
    padding-left: 30px!important;
}
#sb_instagram .svg-inline--fa.fa-instagram.fa-w-14{
    display: none;
}
#sb_instagram .sbi_follow_btn a:hover{
    background: transparent;
}
#sb_instagram #sbi_images{
    margin-top: 30px!important;
}
#sb_instagram #sbi_load{
    position: absolute;
}
#sb_instagram .sbi_follow_btn a:hover,
#sb_instagram .sbi_follow_btn a:focus{
    outline: none;
    box-shadow: 0 0 0 0;
}
#sb_instagram #sbi_load .sbi_follow_btn {
    margin-left: 0;
    position: absolute;
    left: 250px;
    top: 10px;
}
#sb_instagram #sbi_load .sbi_follow_btn a{
    border: 1px solid #408bd1;
    padding: 0 25px;
    font-size: 20px;
    color: #408bd1;
    background: transparent;
}
.badges-block block{
    overflow: hidden;
}
#sb_instagram .sb_instagram_header .sbi_header_text .sbi_bio{
    margin-top: 40px!important;
    margin-left: 0!important;
    font-size: 16px;
}
@media (max-width: 767px) {
    .carousel-inner .active.left { left: -100%; }
    .carousel-inner .next        { left:  100%; }
    .carousel-inner .prev		 { left: -100%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner .active.left { left: -50%; }
    .carousel-inner .next        { left:  50%; }
    .carousel-inner .prev		 { left: -50%; }
    .active > div { display:none; }
    .active > div:first-child { display:block; }
    .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
    .carousel-inner .active.left { left: -16.7%; }
    .carousel-inner .next        { left:  16.7%; }
    .carousel-inner .prev		 { left: -16.7%; }
}
@media(min-width: 1440px){
    .amazingcarousel-list-wrapper{
        max-width: 1440px;
    }
}

@media (max-width: 1440px) {

}
@media(max-width: 1024px){
    .hero-block.block{
        margin-top: 80px;
    }
    .hero-block__wrapper,.inline-background-cover{
        background: black;
    }
    .inline-background-cover video{
        top: 0;
        left: inherit;
        transform: inherit;
        min-height: inherit;

    }
    .amazingcarousel-list-wrapper{
        max-width: 768px;
    }
    .usp-block__title {
        line-height: 50px;
        font-size: 35px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .hero-block__title{
        font-size: 46px;
        line-height: 50px;
    }
    .usp-block__item{
        margin-bottom: 15px;
    }
    .usp-block__title-link{
        height: 250px;
    }
    .header-block__logos img{
        width: 100%;
    }
    .header-container .header-block__logos--hp{
        width: 70%;
    }
    .hero-block__title{
        width: 80%;
    }
    .header-block__top-wrap {
        height: 80px;
        background: black;
    }
    .navbar-custom.navbar-fixed-top{
        background: black;
    }
    .header-block__ticket-wrap {
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }
    .navbar-toggle {
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 1020;
    }

    .img.header-block__logos--wbstl{
        width: 150px;
        height: auto;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li:not(:first-child){
        clip: auto;
        height: auto;
        width: auto;
        position: static;
        overflow: visible;
        margin-bottom: 20px;
        white-space: normal;
    }
    .header-block__nav-wrap-inner{
        /*height: calc(100% - 140px);*/
        overflow-y: scroll;
        display: block;
        background: #002a4e;
        position: fixed;
        width: 100%;
        padding-top: 20px;
    }

    .usp-block__item:nth-child(1n){
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    .usp-block__subtitle{
        max-width: inherit;
    }
    .calendar-block{
        padding: 35px 24px 5px;
    }
    .calendar-block__event {
        margin-bottom: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(99.9% * 2/4 - 10px);
        max-width: calc(99.9% * 2/4 - 10px);
        width: calc(99.9% * 2/4 - 10px);
    }
    .calendar-block__events .calendar-block__event:nth-child(1n){
        margin-right: 20px;
    }
    .calendar-block__events .calendar-block__event:nth-child(2n){
        margin-right: 0;
    }
    .cross-sell-block {
        padding: 40px 25px;
    }
    .hero-block__contents{
        top: 80px;
        padding: 0 15px;
    }

}
@media(max-width: 768px){
    .hero-block__wrapper,.inline-background-cover{

    }

    .fluid-width-video-wrapper{
        width: 100%;
        height: 100%;
    }
    .hero-block__contents{
        top: 80px;
        padding: 0 15px;
    }
    #sb_instagram .sb_instagram_header {
        padding-left: 10px!important;
    }
}
@media (max-width: 425px) {
    .hero-block__wrapper,.inline-background-cover{

    }

    .hero-block__title{
        width: 100%;
        font-size: 36px;
    }
    .header-block__logos--hp{
        display: none;
    }
    .header-container .header-block__logos{
        top: 0;
    }
    .header-block__logos img{
        width: 100px;
        height: auto;
    }
    .hero-block__contents{
        top: 80px;
        padding: 0 15px;
    }
    .hero-block__title{
        line-height: 1.2;
    }
    .calendar-block__event {
        margin-bottom: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
    }
    .cross-sell-block__item {
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .cross-sell-block__title{
        font-size: 26px;
        line-height: 30px;
    }
    .calendar-block__event--title{
        font-size: 26px;
        line-height: 30px;
    }
    .page .calendar-block__title{
        font-size: 20px;
    }
    .calendar-block__title svg{
        width: 55px;
    }
    .usp-block__title{
        margin-bottom: 20px;
    }
    .amazingcarousel-list-wrapper{
        max-width: 320px;
    }
    .hero-block__title{
        font-size: 20px;
    }
    #sb_instagram #sbi_load .sbi_follow_btn{
        top: 35px;
        left: 70px;
    }
}
@media(min-width: 1920px) {
    .usp-block__subtitle{
       display: none;
    }
}