.header-container {
    margin: 0 auto;
    position: relative;
}
.header-container a {
    color: #fff;
    font: normal normal 700 12px/2rem Lora, san-serif;
    text-transform: capitalize;
    letter-spacing: normal;
    transition: color .2s ease-out;
}
.header-container a:hover {
    color: #8cd0e5;
}
.header-container ul {
    list-style: none;
}
.header-container .header-block__logos {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8990;
    display: flex;
    align-items: center;
}

.header-block__nav-wrap-additional {
    display: none;
    background: #083861;
    text-align: center;
    margin-top: 40px;
    position: relative;
}
.header-block__nav-wrap-inner--main{
    margin-bottom: 0;
}


.navbar-custom.navbar-fixed-top {
    min-height: 165px;
    border: none;
    background: linear-gradient( rgba(12, 12, 12, 0.83),rgba(0, 0, 0, 0.47),rgba(185, 185, 185, 0));
    padding: 0!important;
    margin-bottom: 0!important;
}
.navbar-custom.navbar-fixed-top.changebgnav{
    background: black;
}
.admin-bar .navbar-custom.navbar-fixed-top{
    top: 32px;
}
.header-block__nav-wrap-additional__inner, .header-block__nav-wrap-additional__inner ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 13px 0;
    background: #083861;
    text-align: center;
    margin-top: 40px;
    position: relative;
}
.navbar-custom .header-block__nav-wrap-additional__inner ul {
    list-style-type: none;
    justify-content: center;
    margin: 0 auto;
    padding:0;
}
.header-block__nav-wrap-additional__inner li {
    padding-top: 3px;
    padding-right: 40px;
}
.header-block__nav-wrap-additional__inner h3 {
    font: normal normal 700 1.3rem/1.6rem Lora,Times New Roman,serif;
    letter-spacing: .3px;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    padding: 0 20px;
    margin-right: 40px;
    min-width: 125px;
    text-align: center;
    margin: 0;
    margin-right: 40px;
}
.header-block__nav-wrap-additional__inner a {
    font: normal normal 700 1.2rem/1.5rem Montserrat,Arial,sans-serif;
    color: #d4d4d4;
    letter-spacing: .3px;
    text-decoration: none;
    display: inline-block;
    max-width: 115px;
}

.header-block__additional-links {
    position: absolute;
    justify-content: flex-start;
    right: 0;
    top: 0;
    height: 25px;
    width: 190px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 8910;
}
.header-block__additional-links button.header-block__language-toggle {
    position: relative;
    font: normal normal 700 1.2rem/2rem Lora,Times New Roman,serif;
    color: #fff;
    letter-spacing: .23px;
    text-decoration: none;
    background: none;
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0;
}
.header-block__language-toggle span {
    font-weight: 400;
    margin-right: 8px;
    pointer-events: none;
}
.header-block__additional-links__search {
    height: 48px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 48px;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}
.header-block__additional-links button.header-block__search-toggle {
    margin: 0;
}
.header-block__search-toggle {
    width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border: none;
}
img.header-block__logos--wbstl{
    width: auto;
    height: 165px;
}
.header-container .header-block__logos--hp{
    width: 188px;
    height: 118px;
}
.header-block__ticket-wrap {
    text-align: center;
    position: absolute;
    left: auto;
    right: 20px;
    top: 40px;
    margin: 0 auto;
    z-index: 1010;
}
.header-block__ticket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2px;
    align-self: center;
}
.header-block__ticket__additional {
    font: normal normal 700 .9rem/.9rem Montserrat,Arial,sans-serif;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 5px;
}
.header-block__ticket a {
    font: normal normal 700 1.4rem/1.6rem Lora,Times New Roman,serif;
    height: 40px;
    background: #f6bd49;
    color: #000;
    letter-spacing: .92px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    max-width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.header-block__ticket img:first-child{
    margin-right: 1px;
}
.header-block__ticket img:last-child{
    margin-left: 1px;
}
.header-block__nav-wrap-additional__inner h3 svg:first-child{
    position: absolute;
    left: 0;
    top: 0;
}
.header-block__nav-wrap-additional__inner h3 svg:last-child{
    position: absolute;
    right: 0;
    top: 0;
}
.header-block__nav-wrap-inner--main li:not(:first-child) {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.header-block__additional-link--with-icon svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
}
.header-block__additional-link--with-icon span{
    margin-left: 22px;
}
.header-block__search__overlay {
    background: #002a4e;
    box-shadow: none;
    position: absolute;
    top: 0;
    max-width: 1920px;
    padding: 102px 23px 63px;
    bottom: auto;
    z-index: 8700;
    right: 0;
    left: 0;
    display: none;
}
.header-block__language-menu {
    display: none;
    background: #002a4e;
    position: absolute;
    top: -20px;
    right: 0;
    padding: 0 30px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5), inset 0 1px 3px 0 rgba(0,0,0,.5);
}
.header-block__language-menu__top {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0 10px;
    margin-bottom: 10px;
}
.header-block__language-menu ul {
    display: block;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-block__nav-wrap-inner--main li img{
    position: absolute;
    top: 80px;
    left: -100px;
    display: none;
}
.header-block__nav-wrap-inner--main li img.rightflourish{
    right: -105px;
    left: inherit;
}
.navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-inner--main li img{
    display: block;
}
.header-block__menu-wrap{
    display: none;
}
#header-block__toggle{
    border: none;
    position: relative;
    padding: 28px 0 0;
    background-image: url("header-block-menu.svg");
    background-repeat: no-repeat;
    background-size: 30px 20px;
}
#header-block__toggle.changebg{
    background-image: url("close.svg");
}
.header-block__nav-wrap-inner--groups {
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 0;
    right: 0;
    margin-right: 200px;
    width: auto;
}
.header-block__nav-wrap-inner--groups li {
    margin-top: 0;
    margin-right: 10px;
}
.header-block__nav-wrap-inner--groups li:last-child{
    margin-right: 0;
}
.header-block__nav-wrap-inner {
    height: 100%;
    padding: 16px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
;
}
.header-block__nav-wrap-inner--main li {
    min-width: 130px;
    text-align: center;
    font: normal normal normal 1.7rem/2rem Montserrat,Arial,sans-serif;
    letter-spacing: .4px;
    text-transform: uppercase;
}
.header-block__nav-wrap-inner .header-block__nav-wrap-inner--main {
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 200px;
    padding-left: 0;
    word-wrap: break-word;
    white-space: nowrap;
}
@media (min-width: 1024px){
    .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main:nth-child(4){
        padding: 0px 35px 0px 20px;
    }
}

.header-block__nav-wrap {
    padding-top: 50px;
}
.header-container .header-block__nav-wrap-inner--main li:first-child a{
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Lato";
}
.navbar.navbar-custom.navbar-fixed-top:hover .header-container .header-block__nav-wrap-inner--main li:first-child a{
    font-size: 18px;
}
.navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-additional{
    display: block;
}
.navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-inner--main{
    display: block;
}
.navbar.navbar-custom.navbar-fixed-top:hover .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li:not(:first-child){
    clip: auto;
    height: auto;
    width: auto;
    position: static;
    overflow: visible;
    margin-bottom: 20px;
    white-space: normal;
}

.navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main a{
    font-size: 15px;
}
.navbar.navbar-custom.navbar-fixed-top:hover {
    background: black;
}
.navbar-header{
    float: none!important;
}
@media (min-width: 90em) {
    .header-container .header-block__logos--wbstl-wrapper {
        display: block;
        margin-right: 20px;
    }
}
@media (min-width: 90em) {
    .header-container .header-block__logos--wb-wrapper {
        display: none;
    }
}

@media(max-width:1440px){
    .header-block__nav-wrap-inner{
        width:70%;
    }
    .header-block__nav-wrap-inner--main li{
        margin-bottom: 23px;
    }
}
@media(min-width:1280px) and (max-width: 1440px){
    img.header-block__logos--wbstl{
        height: 120px;
    }
    .header-block__nav-wrap-inner{
        width: 80%;
    }
    .header-block__nav-wrap-inner--main li {
        min-width: 100px;
    }
    .navbar-custom.navbar-fixed-top{
        min-height: 120px;
    }
    .header-block__nav-wrap{
        padding-top: 37px;
    }
}
@media(min-width:1024px) and (max-width: 1280px){
    img.header-block__logos--wbstl{
        height: 110px;
    }
    .header-block__nav-wrap-inner{
        width: 80%;
    }
    .header-block__nav-wrap-inner--main li{
        min-width: 100px;
    }
    .header-container .header-block__nav-wrap-inner--main li:first-child a{
        font-size: 15px;
    }
    .header-block__nav-wrap{
        padding-top: 20px;
    }
    .navbar-custom.navbar-fixed-top{
        min-height: 110px;
    }
}

@media (max-width: 1024px) {
    .header-block__nav-wrap-inner--main li{
        margin-bottom: 0;
    }
    .header-container .header-block__nav-wrap {
        padding-top: 0;
        display: none;
    }
    .navbar-custom.navbar-fixed-top{
        min-height: inherit;
    }
    .admin-bar .navbar-custom.navbar-fixed-top{
        min-height: inherit;
        top: 32px;
        padding: 0;
        margin-bottom: 0;
    }
    .header-container .header-block__nav-wrap-inner {

        padding: 16px;
        text-align: center;
        padding-top: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .header-container .header-block__nav-wrap-inner--groups {
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -ms-flex-direction: row;
        flex-direction: row;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding-left: 75px;
    }
    .header-block__additional-link--with-icon svg{
        top: 0;
    }
    .header-container .header-block__nav-wrap-inner--groups li:not(:last-child) {
        padding: 0 7px;
        margin-right: 10px;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main {
        display: inline-block;
        vertical-align: top;
        margin-right: 5%;
        margin-left: 5%;
        position: relative;
        max-width: 200px;
        word-wrap: break-word;
        padding-left: 0;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li {
        min-width: 130px;
        text-align: center;
        font-size: 14px;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li:not(:first-child) {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li:first-child a {
        font-size: 17px;
        letter-spacing: .4px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: "Lato";
    }
    .header-block__menu-wrap {
        position: absolute;
        top: 0px;
        right: 0;
        height: 80px;
        width: 60px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        z-index: 1020;
    }
    .header-block__menu-wrap p {
        font: normal normal 700 1rem/1.3rem Lora, Times New Roman, serif;
        color: #fff;
        letter-spacing: .17px;
        text-transform: uppercase;
    }
    .navbar.navbar-custom.navbar-fixed-top .header-block__nav-wrap-additional{
        display: none!important;
    }
    .header-block__nav-wrap-inner--main{
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #083861;
    }
    .header-block__nav-wrap-inner--main li:first-child a{
        font: normal normal normal 17px Montserrat,Arial,sans-serif;
        letter-spacing: .4px;
        margin-bottom: 25px;
        text-transform: uppercase;
        border-bottom: none;
        font-weight: 700;
    }
    .header-block__secondary-wrap {
        top: inherit;
        right: inherit;
        position: fixed;
        bottom: 0;
        display: block;
        left: 0;
        width: 100%;
        background: #002a4e;
        z-index: 8010;
        border-top: 1px solid #4e6477;
    }
    .header-block__additional-links {
        position: relative;
        justify-content: flex-start;
        right: 0;
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 8910;
        width: 100%;
        justify-content: space-between;
        padding: 0 30px;
    }
    #header-block__language-toggle{
        font-size: 15px;
    }
    .header-container .header-block__nav-wrap-inner--groups{
        margin-right: 0;
    }
    .header-block__logos--wbstl-wrapper{
        width: 105px;
    }
    .header-container .header-block__logos{
        top: 0px;

    }img.header-block__logos--wbstl{
         height: auto;
     }
}
@media(max-width: 768px){
    .navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-inner--main li img{
        display: none;
    }
    .header-container .header-block__nav-wrap-inner--groups{
        position: relative;
        padding-left: 0;
        padding-top: 15px;
    }
    .header-block__additional-link--with-icon svg{
        top: 15px;
    }
    .admin-bar .navbar-custom.navbar-fixed-top{
        top: 46px;
    }
}
@media(max-width: 425px){
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main{
        width: 100%;
        display: inherit;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li{
        text-align: left;
    }
    .header-block__nav-wrap-inner--main.lastt{
        border-bottom: none;
    }
    .navbar.navbar-custom.navbar-fixed-top:hover .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main{
        display: inherit;
    }
    #wpadminbar{
        position: fixed;
    }
}