.single-team  .per-videok {
    position: relative;
}

.single-team h2.tlp-member-title {
    color: #fff;
    font-family: Montserrat,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
}
.single-team .video-content{
    max-height: 490px;
    height: 490px;
    overflow: hidden;
}
.single-team h2 {
    color: #957d65;
}
.single-team .tlp-member-feature-img img{
    width: 100%;
}
.single-team .tlp-member-detail p, .single-team .tlp-member-detail span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
.single-team .per-social a.ask-personk {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    background: #f6bd49;
    color: white;
    padding: 10px;
    margin: 15px 0 10px;
}
.single-team article.tlp-member-article {
    display: inline-block;
    width: 100%;
    padding: 30px 15px;
}
.single-team .per-social a.links-personk {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    margin: 1px 0 10px;
}
.single-team .per-social .tpl-social{
    padding: 0 15px;
}
.single-team .per-social .tpl-social span{
    display: inline-block;
    font-size: 18px;
    color: #212121;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 500;
    margin: 0 0 3px;
}
.single-team .tlp-team .per-social .tpl-social a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 5px;
}
.single-team .tlp-team .tpl-social a .fa{
    padding: 0;
    display: inline-block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    color: #fff;
}
.tlp-team .tpl-social a .fa-twitter{
    background: #38aade;
}
.tlp-team .tpl-social a:hover .fa-twitter {
    background: #957d65;
    color: #38aade;
}
.tlp-team .tpl-social a .fa-facebook{
    background: #3c579c;
}
.tlp-team .tpl-social a:hover .fa-facebook {
    background: #957d65;
    color: #3c579c;
}
.tlp-team .tpl-social a .fa-google-plus{
    background: #dc4e42;
}
.tlp-team .tpl-social a:hover .fa-google-plus{
    background: #957d65;
    color: #dc4e42;
}
.tlp-team .tpl-social a .fa-linkedin{
    background: #077dab;
}
.tlp-team .tpl-social a:hover .fa-linkedin{
    background: #957d65;
    color: #077dab;
}
.tlp-team .tpl-social a .fa-pinterest{
    background: #e34b3e;
}
.tlp-team .tpl-social a:hover .fa-pinterest{
    background: #957d65;
    color: #e34b3e;
}
.tlp-member-article button.slick-prev,.tlp-member-article button.slick-next{
    display: none!important;
}
.page-id-12 .facebook img,.page-id-12 .instagram img{
    width: 5vw!important;
}
.contact-form form p{
    font-size: 17px;
}
.contact-form form .wpcf7-submit{
    font-size: 17px;
}
.contact-form form.wpcf7-form label span{
    color: #666;
    font-weight: 300;
}
.contact-form form.wpcf7-form input, .contact-form form.wpcf7-form textarea{
    font-size: 15px;
}
.per-ticket img{
    width: 100%;
}
.per-ticket .backside-ticket{
    width: calc(100% - 30px);
    position: absolute;
    opacity: 0;
    left: 30px;
    transition: opacity .5s ease;
    left: 0;
    top: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
p.price-ticket-pg span{
    font-size: 18px;
    font-weight: 500;
}
.per-ticket .hov-to-tran{
    display: block;
    position: relative;
}
.title-ticket-pg h3{
    margin-top: 0;
}
.hov-to-tran:hover .backside-ticket{
    opacity: 1;
}
.a-book-tick{
    display: block;
    font-size: 20px;
    padding: 5px 15px;
    background: black;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}
.per-ticket{
    margin-top: 45px;
}
.blog-page-custom{
    margin-left: -20px;
    margin-right: -20px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 242px 242px 242px 242px;
    display: grid;
}
.blog-page-custom .per-blog:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.blog-page-custom .per-blog:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.blog-page-custom .blog-grid-item-spe{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.blog-page-custom .per-blog:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
.blog-page-custom .per-blog:nth-child(4){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.blog-page-custom .per-blog:nth-child(6){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.blog-page-custom .per-blog,.blog-page-custom .blog-grid-item-spe{
    padding: 20px;
    position: relative;
}

.blog-page-custom .per-blog a div p,.blog-page-custom .per-blog a div h3, .blog-page-custom .per-blog a div h4{
    padding: 0 30px;
    margin: 0;
}
.blog-page-custom .per-blog a div p,.blog-page-custom .per-blog a div h4{
    font-weight: 600;
    font-size: 16px;
}
.blog-page-custom .per-blog a div h3{
    margin-top: 10px;
}
.blog-page-custom .per-blog a div h4{
    padding: 27px 30px 65px;
}
.blog-page-custom .per-blog a div h3{
    font-weight: 30px;
    font-weight: 600;
}
.blog-item-type-submit{
    padding: 10px;
    background: #E1DBF8;
    height: 100%;
}
.blog-item-type-submit .fix-border{
    border: 4px dashed white;
    padding: 15px;
    text-align: center;
    height: 100%;
}
.blog-item-type-submit .fix-border .cont{
    color: #051C48;
    font-family: "Montserrat";
    font-size: 30px;
    max-width: 150px;
    line-height: 1.6;
    margin: 0 auto;
    font-weight: 600;
}
.go-to-page-sharetip{
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
}
.blog-item-type-submit:hover{
    background: #d9baf8;
}

.blog-item-type-submit i{
    transition: all .3s ease-in-out;
    transform: translateX(0px) rotateX(0deg);
}
.blog-item-type-submit:hover i{
    transform: translateX(10px) rotateX(180deg);
}
.blog-item-type-submit:hover h4,.blog-item-type-submit:hover i{
    color: black;
}
.blog-page-custom{
    margin-top: 30px;
}
.bgblog{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100%;
}
.box-text-blog{
    position: absolute; bottom: 0;
    color: white;
    width: calc(100% - 40px);
    margin-bottom:20px;
    padding-top: 30px;
    background: linear-gradient(rgba(185, 185, 185, 0),rgba(0, 0, 0, 0.47), rgba(12, 12, 12, 0.83));
}
.container.pagenav{
    display: flex;
    justify-content: center;
}
.portfolio-slides{
    max-width: 650px;
    margin-top: 15px;
}
.tlp-team.tlp-single-container .portfolio-slides .single a p{
    height: 268px;
    width: 90%;
    margin: 0 auto;
}
.per-social .share-detail-cele{
    display: none;
}
.single.slick-slide a p{
    margin-bottom: 0;
    background-position: 50% 15%;
    background-size: cover;
    background-repeat: no-repeat;
}
.per-social a{
    text-align: center;
}
.decription-social-media p{
    font-size: 26px;
    line-height: 36px;
    margin: 35px 0;
    text-align: center;
    font-family: lato;
}
.social-media-pg{
    margin: 15px 0;
}


.social-media-pg .per-social .featured-imgs-social img{
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
.social-media-pg .per-social h2{
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 50px;
}
.social-media-pg .per-social .text-content p{
    font-size: 16px;
    margin: 40px 0 15px;
}
.social-media-pg .per-social{
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 45px;
}
.social-media-pg .per-social a{
    padding: 7px 40px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 0;
    background: black;
    color: white;
}
.social-media-pg .per-social .text-content{
    display: inline-block;
}
span.page-numbers.current{
    background: grey;
    color: white;
}
.contact-page-content .facebook-instagram .facebook{
    margin-bottom: 30px;
}
.contact-form #wpcf7-f17-p12-o1 .wpcf7-submit{
    background: black;
    border: none;
    color: white;
}
.share-detail-cele{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 3px;
}
.single-team .per-social {
    margin-bottom: 17px;
}
body.single-team .tlp-team.tlp-single-container{
    max-width: 1920px;
    margin: auto;
}
.blog-page-custom .per-blog a:before{
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background: linear-gradient(rgba(185, 185, 185, 0),rgba(0, 0, 0, 0.47), rgba(12, 12, 12, 0.83));
    opacity:0;
    transition: 0.3s;
}
.contact-link.button{
    color: white;
    display:block;
    padding: 10px 15px;
    font-size: 24px;
}
.description-gallery-page{
    font-size: 26px;
    color: black;
    text-align: center;
    padding: 30px 15px;
}
.per-rl-gallery-pg{
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    padding-top: 69%;
    position: relative;
}
.box-text-per-gallerypage h3{
    font-size: 23px;
}
.box-text-per-gallerypage p{
    font-size: 14px;
}
.rl-gallery-page-gal .per-rl-gallery-pg:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    opacity:0;
    transition: 0.3s;
    top: 0;
}
.rl-gallery-page-gal a:hover .per-rl-gallery-pg:before{
    opacity: 1;
}
.rl-gallery-page-gal a:hover .box-text-per-gallerypage{
    color: black;
}
.contact-link.button:hover{
    background: #000;
    color: #fff;
    border: 2px solid black;
}
.heading-content-talent{
    margin-top: 30px;
    text-align: center;
    font-size: 21px;
    color: black;
}
.title-search-f{
    width: 100%;
}
.content-talent-s .search-form{
    height: 45px;
}
.content-talent-s{
    margin-bottom: 30px;
}
.content-talent-s .search-form{
    margin-top: 30px;
}
.rl-gallery-item{
    position: relative;
}
.rl-gallery-item a.magnifying-glass-rl{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.rl-basicgrid-gallery .rl-gallery-item a.magnifying-glass-rl img{
    width: 33px;
}
.rl-basicmasonry-gallery .rl-gallery-item .magnifying-glass-rl img{
    width: 33px!important;
}
.calendar-block__events .calendar-block__event:first-child{
    background-position: 50% 10%;
}
#html5-lightbox-box #html5-watermark{
    display: none!important;
}
.single-post-lightbox .bg-per-post-lightbox{
    padding-top: 100%;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.single-post-lightbox .bg-per-post-lightbox:after{
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    background-image: url('/wp-content/uploads/2018/12/downloadkl.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7px;
    right: 7px;
}
.perpostlb-has-video a video{
    width: 100%;
    height: auto;
}
.single-post-lightbox p{
    display: none;
}
.single-post-lightbox .wplightbox{
    width: 33.3%;
    float: left;
    padding: 10px;
}
.perpostlb-has-video .bg-per-post-lightbox:before{
    content: "";
    width: 65px;
    height: 65px;
    display: block;
    background-image: url('/wp-content/uploads/2018/12/icon-play.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.rl-gallery-item-content a img:after,.rl-gallery-item a img:after{
    content: "";
    width: 35px;
    height: 35px;
    display: block;
    background-image: url(/wp-content/uploads/2018/12/downloadkl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7px;
    right: 7px;
}
@media (min-width:1301px) and (max-width:1380px){
    .infor-menu .navbar-cart{
        left: 210px;
    }

}
@media(min-width:1200px){
    .blog-page-custom .per-blog:hover a:before{
        opacity: 0.7;
    }
}
@media(max-width: 1199px){
    .portfolio-slides{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .tlp-team.tlp-single-container .portfolio-slides .single a p{
        height: 360px;
    }
}
@media(max-width:1133px){
    .header .navbar .search-form.header label .search-field{
        width:200px;
    }
}
@media(max-width:1024px){
    .event-hero-block .event-hero-block__contents{
        top: 0;
    }
    .single-post-lightbox .wplightbox{
        width: 50%;
    }
}
@media(max-width: 991px){

    .tlp-member-detail h2{
        padding: 20px 0;
        line-height: 30px;
    }
    .single-team .tlp-member-feature-img img{
        margin-bottom: 30px;
    }
    .social-media-pg .featured-imgs-social{
        margin: 7.5px 0;
    }
    .decription-social-media p{
        font-size: 24px;
    }
    .tlp-team.tlp-single-container .portfolio-slides .single a p{
        height: 300px;
    }
}
@media(max-width:767px){
    .blog-page-custom{
        margin-left: 0;
        margin-right: 0;
        display: inherit;
    }
    .blog-page-custom .per-blog{
        height: 350px;
        width: 50%;
        float: left;
    }
    .blog-page-custom .blog-grid-item-spe{
        width: 100%;
        float: left;
    }
    .box-text-blog{
        width: calc(100% - 14px);
        margin-bottom: 7px;
    }
    .blog-page-custom .per-blog, .blog-page-custom .blog-grid-item-spe{
        padding: 7px;
    }
    .blog-page-custom .per-blog a div h4{
        padding: 22px 15px 25px;
    }
    .blog-page-custom .per-blog a div p, .blog-page-custom .per-blog a div h3{
        padding: 0 15px;
    }
    .tlp-team.tlp-single-container .portfolio-slides .single a p{
        height: 240px;
    }
    .blog-detail .content-blog-page{
        padding: 0 15px;
    }
    .hero-block__contents{
        top: 0;
    }
    .hero-block__title{
        font-size: 37px;
    }
}
@media(max-width: 680px){
    .tlp-team.tlp-single-container .portfolio-slides .single a p{
        height: auto;
        padding-top: 110%;
    }
}
@media(max-width: 600px){
    #wpadminbar{
        position: fixed!important;
    }
    .blog-page-custom .per-blog{
        width: 100%;
        height: 300px;
    }
    .blog-page-custom .per-blog, .blog-page-custom .blog-grid-item-spe{
        padding: 7px 0;
    }
    .box-text-blog{
        width:100%;
    }
    .contact-link.button{
        width:100%;
    }
    .single-post-lightbox .wplightbox{
        width: 100%;
    }
    .hero-block__title{
        font-size: 32px;
    }
}
@media(max-width:425px){
    .per-videok video{
        margin-top:80px;
    }
    .single-team .video-content{
        max-height: 490px;
        height: 350px;
        overflow: hidden;
    }
    .single-team h2.tlp-member-title{
        font-size: 30px;
    }
    .single-team .per-social .tpl-social{
        padding: 0;
    }
    .social-media-pg .per-social .featured-imgs-social img{
        width: 100%;
    }
    .heading-content-talent{
        font-size: 16px;
    }
    .title-search-f{
        font-size:17px;
    }
    .single-post .post-title.entry-title{
        font-size: 30px;
    }
    .hero-block__title{
        font-size: 28px;
    }
}