.main-content-talent{
    max-width: 1440px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 40px;
}
.content_heading{
    overflow: hidden;
}
.form-search-talent{
    overflow: hidden;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 5px;
}
.form-search_form_details{
    width: 50%;
    overflow: hidden;
    border: 8px solid #000000;
}
.search_form_details{
    overflow: hidden;
    border-bottom: 2px solid #afafaf;
    padding-bottom: 6px;
    background: #333333;
}
.input-search-talent{
    width: 85%;
    float: left;
    height: 40px;
    border: none;
    padding-left: 20px;
    color: #000;
}
.input-search-talent::-webkit-input-placeholder{
    color: #000000;
    font-weight: 400;
}
.submit-search-talent{
    width: 15% !important;
    float: left;
    padding: 0px !important;
    height: 40px;
    line-height: 40px;
    border-radius: 0px !important;
    background: #333333 !important;
}
i.fa-long-arrow-down{
    font-size: 18px;
    line-height: 40px;
    color: #8c7660;
}
.show-search-talent{
    margin-top: 60px;
    overflow: hidden;
}
.heading-influencers{
    margin-bottom: 30px;
}
.heading-influencers_talent{
    margin: 0px;
}
.influencers_talent_details{
    position: relative;
    float: left;
    padding: 0px;
    /*margin-bottom: 20px;*/
    /*background: #f2f2f2;*/
    /*margin-right: 20px;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - 20px);
    max-width: calc(99.9% * 1/3 - 20px);
    width: calc(99.9% * 1/3 - 20px);*/
}
/*.influencers_talent_details:nth-child(3n){
    margin-right: 0px;
}*/
.img-talent_details{
    width: 30%;
    float: left;
}
.content_influencers_talent_details{
    width: 70%;
    float: left;
    padding: 15px;
}
.content_influencers_talent_details p{
    text-transform: capitalize;
    margin-bottom: 0px;
    line-height: 22px;
}
.content_influencers_talent_details a{
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    line-height: 25px;
}
.content_influencers_talent_details a>i{
    padding-left: 15px;
    font-size: 13px;
}
.content_influencers_talent_details a:hover{
    color: #666;
}
.show_influencers_talent{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.title-heading-talent{
    font-size: 14px;
    text-transform: uppercase;
    margin: 0px;
}
.personal_talent{
    margin-top: 10px;
    margin-bottom: 20px;
}
.information-talent{
    /* background: #233449;*/
    /* padding: 15px;*/
    margin-bottom: 0px;
}
.title-can-find{
    margin-top: 0px;
    color: #9e7e63;
    font-size: 30px;
    text-transform: uppercase;
    font-family: time new roman;
    letter-spacing: 1.5px;
    line-height: 100%;
    margin-bottom: 5px;
}
.title-you-looking{
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: time new roman;
    line-height: 100%;
    margin-top: 0px;
}
.infor-talent-details{
    position: absolute;
    bottom: 30px;
}
.total-information{
    background: #233449;
    margin-right: 15px;
    padding: 15px;
    height: calc(100% - 15px);
}
.title-call-talent{
    display: block;
    color: #fff;
    line-height: 100%;
    margin-bottom: 7px;
    font-size: 18px;
}
.title-email-talent{
    color: #fff;
    display: block;
    line-height: 100%;
    font-size: 18px;
}

/* css new talent */

/*.team-member{
    padding: 0px;
}*/
.tlp-row{
    display: flex;
    flex-flow: row wrap;
}
.team-member{
    position: relative;
    padding: 0px;
    margin-bottom: 15px;
    /* float: left;
     height: 100% !important;
     margin-bottom: 20px !important;*/
    /* background: #f2f2f2;*/
    /*margin-right: 20px;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(99.9% * 1/3 - 20px);
    max-width: calc(99.9% * 1/3 - 20px);
    width: calc(99.9% * 1/3 - 20px);*/
}
/*.team-member:nth-child(3n){
    margin-right: 0px;
}*/
.single-team-area{
    overflow: hidden;
    width: calc(100% - 15px);
    float: left;
    background: #f2f2f2;
    position: relative;
}
.single-team-area a{
    width: 30%;
    float: left;
}
.content-layout-talent>.tpl-social{
    display: none;
}
.content-layout-talent{
    width: 70%;
    float: right;
    padding: 10px;
}
.tlp-content>.name>a{
    width: 100%;
    line-height: 100%;
    text-transform: uppercase;
    font-size: 20px;
    color: #666;
    margin-bottom: 5px;
}
.tlp-content>.name{
    overflow: hidden;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.short-bio>p{
    text-transform: capitalize;
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
}

.short-bio::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.short-bio::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.short-bio::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaa;
}
.link-per>a{
    position: absolute;
    bottom: 10px;
    color: #666;
    text-transform: capitalize;
    line-height: 100%;
    width: calc(100% - 30% - 10px);
    font-size: 16px;
}
.link-per>a>i{
    font-size: 10px;
    padding-left: 7px;
    color: #666;
}
.designation_talent{
    display: none;
}
.module-talent{
    padding-top: 40px;
    overflow: hidden;
}
.influencers_talent{
    margin-bottom: 20px;
}
.form-search-talent{
    width: 50%;
}
#searchsubmit{
    padding: 0px !important;
    width: 50px;
    float: right;
    height: 40px;
    line-height: 40px;
    background: #fff;
    position: relative;
}
#searchsubmit>i{
    color: #000;
    font-size: 20px;
    margin-top: 8px;
}
#searchsubmit::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 1px;
    z-index: 99;
    background: #b9b8b8;
    top: 5px;
    left: 0px;
}
.inputsearchtalent{
    width: calc(100% - 50px);
    float: left;
    border: none;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #000000;
    padding-right: 15px;
}
.inputsearchtalent::-webkit-input-placeholder{
    color: #000000;
    font-weight: 400;
}
#searchform_talent{
    margin-bottom: 60px;
}
.heading-content-talent{
    margin-bottom: 0;
    font-family: Lato;
    font-size: 17px;
}

@media (max-width: 992px) {
    .title-you-looking{
        font-size: 20px;
    }
    .total-information{
        width: 100%;
        margin-bottom: 15px;
    }
    .title-can-find{
        font-size: 20px;
    }
    .title-email-talent{
        font-size: 14px;
    }
    .title-call-talent{
        font-size: 14px;
    }
    .team-member:nth-child(even)>.single-team-area{
        width: calc(100% - 7.5px);
        float: right;
    }
    .team-member:nth-child(odd)>.single-team-area{
        width: calc(100% - 7.5px);
        float: left;
    }
    .tlp-content>.name>a{
        font-size: 15px;
    }
    .short-bio>p{
        font-size: 14px;
    }
    .link-per>a{
        width: calc(100% - 30% - 15px) !important;
        font-size: 13px;
    }
    .information-talent{
        padding: 0px;
    }
    #searchform_talent{
        margin-bottom: 40px;
    }
    /*.influencers_talent_details{
        flex-basis: calc(99.9% * 1/3 - 10px);
        max-width: calc(99.9% * 1/3 - 10px);
        width: calc(99.9% * 1/3 - 10px);
    }*/
    .tlp-row{
        margin: 0px;
    }
    .container-fluid{
        padding: 0px;
    }
    .total-information{
        width:calc(100% - 7.5px);
        margin-left: 7.5px;
    }
    .page-id-12 .facebook, .page-id-12 .instagram{
        border:none !important;
    }
}

@media (max-width: 767px) {
    .form-search-talent{
        width: 100%;
    }
    /* .team-member{
         flex-basis: 100%;
         max-width: 100%;
         width: 100%;
     }*/
    /*.influencers_talent_details{
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
    }*/
    .influencers_talent_details{
        margin-bottom: 15px;
    }
    .title-can-find{
        font-size: 18px;
    }
    .title-you-looking{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .title-call-talent{
        margin-bottom: 5px;
    }
    .total-information{
        width: 100%;
        margin: 0px;
        height: 100%;
    }
    .infor-talent-details{
        position: unset;
        margin: 0px;
    }
    .single-team-area a{
        width: 90px;
    }
    .single-team-area{
        width: 100%;
    }
    .content-layout-talent{
        width: calc(100% - 90px);
    }
    .team-member:nth-child(even)>.single-team-area{
        width: 100%;
    }
    .team-member:nth-child(odd)>.single-team-area{
        width: 100%;
        float: left;
    }
    .wdMainContainer .c-width{
        width: 100%;
    }
    .wdMainContainer .c-width .pic{
        display:block;
        margin: auto;
        height: 100%;
        max-height: 100% !important;
        margin-bottom: 15px;
        max-width: 550px !important;
    }
    .wdMainContainer .c-width .pic img{
        margin: auto;
        width: 100%;
    }
    .page-module-content .shop-isle-page-content{
        padding-top: 0px !important;
    }
    .main .module{
        padding-top: 100px;
    }
    .banner-contact{
        margin-top: 30px;
    }
    #post-53 .social-media-pg .per-social h2{
        margin-top: 30px;
    }
    #post-53 .social-media-pg .per-social .text-content p{
        margin-top: 15px;
    }
    .social-media-pg .featured-imgs-social{
        padding: 0px;
        margin-bottom: 15px !important;
    }
}
@media(max-width: 550px){
    .ev-gallery .ev-usp-block__details{
        padding: 0px;
    }
    #post-53 .decription-social-media p{
        margin-bottom: 0px;
        font-size: 18px;
        line-height: 26px;
    }
}
#post-6 .container .container.cum-panav{
    padding: 0px;
}
#post-249 .entry-content .contact-link.button{
    margin-bottom: 45px;
    margin-top: 25px;
}
.pr-content .title-pr{
    margin-top: 35px;
}
#post-53 .social-media-pg .per-social{
    margin-bottom: 0px;
}
.postid-278 .main .wdMainContainer .wd-clearfix .c-width .pic{
    height: 100%;
}
.block-thumbnails-talent .talent-imgs .mymodalfade{
    display: none;
}
.show-imgs-slider{
    display: block !important;
}
.block-thumbnails-talent .prev{
    position: absolute;
    top: calc(50% - 11px);
    left: 0px;
}
.block-thumbnails-talent .next{
    position: absolute;
    top: calc(50% - 11px);
    right: 10px;
}
.block-thumbnails-talent{
    padding: 0px 30px;
    position: relative;
    max-width: 90%;
    margin: auto;
}
.block-thumbnails-talent .slick-slide span img{
    width: 100%;
    padding-right: 10px;
}


header .header-block__nav-wrap .header-bl-info{
    text-align: right;
    top: 37px;
}
header .header-block__nav-wrap .header-bl-info a{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    text-transform: lowercase
}
.main .module-small-shop{
    padding-top: 200px !important;
}
.main .module-small-shop .woocommerce-ordering .orderby{
    height: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 14px;
}
.main .module-super-small{
    padding-top: 0px;
}
.main .woocommerce-notices-wrapper{
    padding-top: 200px;
}
.footer-block__pages-links-wrapper .footer-block__menu-studio--hollywood{
    padding-top: 13px;
}

@media(max-width: 1440px){
    header .header-block__nav-wrap .header-bl-info{
        top: 50px;
    }
}
@media(max-width: 1280px){
    header .header-block__nav-wrap .header-bl-info{
        top: 36px;
    }
}
@media(max-width: 1024px){
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main{
        display: block;
        max-width: 100%;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li{
        text-align: left;
        overflow: hidden;
    }
}
.contact-page-content .contact-form .col-md-6:nth-child(1){
    padding-left: 0px;
}
.contact-page-content .contact-form .col-md-6:nth-child(2){
    padding-right: 0px;
}
.contact-page-content .wpcf7-form p:nth-child(9){
    margin-bottom: 40px;
}
.contact-page-content .wpcf7-form p:nth-child(10){
    margin-bottom: 0px;
}
.main .module{
    padding-bottom: 55px;
}
@media(min-width: 1260px){
    .contact-page-content{
        padding-top: 70px;
    }
}
@media(max-width: 991px){
    .contact-page-content .contact-form .facebook-instagram .facebook{
        width: calc(50% - 10px);
        float: right;
    }
    .contact-page-content .contact-form .facebook-instagram .instagram{
        width: calc(50% - 10px);
        float: left;
    }
    .contact-page-content .contact-form .col-md-6:nth-child(2){
        padding-left: 0px;
    }
    .contact-page-content .contact-form form{
        width: 100% !important;

    }
    .contact-page-content .contact-form .col-md-6:nth-child(1){
        padding-right: 0px;
    }
}
@media(max-width: 550px){
    .contact-page-content{
        padding: 0px;
    }
    .page-id-12 .facebook img, .page-id-12 .instagram img{
        width: 25vw !important;
    }
}

.wpb_wrapper .products.columns-3{
    padding-top: 20px;
}
.wpb_wrapper ul.products li.product{
    width: 33.33%;
}
.wpb_wrapper ul.products li.product .woocommerce-loop-product__title, .wpb_wrapper ul.products li.product .price{
    text-align: left;
    padding: 0px 15px;
    font-size: 18px;
    margin-bottom: 0px;
}
.wpb_wrapper ul.products li.product .star-rating{
    margin-left: 15px;
}
.wpb_wrapper .product .product-button-wrap{
    opacity: 1 !important;
    bottom: 0px;
}
.wpb_wrapper .product:hover .product-button-wrap{
    bottom: 0px;
    transform: translateY(0px);
}
.wpb_wrapper ul.products li.product.first{
    clear: none;
}
.wpb_wrapper .prod-img-wrap:hover:before{
    background: none;
}
.wpb_wrapper .prod-img-wrap{
    position: unset;
}
.wpb_wrapper .add-to-cart-button-wrap{
    text-align: left;
    padding-left: 15px;
}
.wpb_wrapper .product .product-button-wrap .add_to_cart_button, .wpb_wrapper ul.products li.product .product-button-wrap .button.product_type_simple{
    margin: 0px;
    padding: 0px;
    background: #fff;
    color: #000;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.wpb_wrapper .add_to_cart_button:not(.product_type_variable):before, .icon-basket:before{
    display: none;
}
.wpb_wrapper .prod-img-wrap:before{
    display: none;
}
.wpb_wrapper .product .product-button-wrap .add_to_cart_button:hover, .wpb_wrapper ul.products li.product .product-button-wrap .button.product_type_simple:hover{
    background: #fff;
}
.wpb_wrapper ul.products li.product:nth-child(4n+1){
    clear: none;
}
.wpb_wrapper ul.products li.product .product-button-wrap .add-to-cart-button-wrap .button{
    display: none;
}
.wpb_wrapper .product .price .book-ticket-product{
    display: block;
    color: #935a8a;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}
.wpb_wrapper ul.products li.product .star-rating{
    display: none;
}
.wpb_wrapper .woocommerce ul.products li.product .price .amount{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.single-product .product-main-content div.product table.variations{
    background: #f9f9f9;
    border-radius: 2px;
}
.single-product .product-main-content div.product table.variations td.label{
    padding: 20px;
    width: 30%;
    margin: 0px;
    text-align: left;
}
.single-product .product-main-content div.product table.variations .value{
    padding: 20px;
    margin: 0px;
    width: 70%;
    float: left;
}
.single-product .product-main-content div.product table.variations a.reset_variations{
    display: none !important;
}
.single-product .product-main-content div.product table.variations td.label label{
    margin: 0px;
    line-height: 33px;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.single-product .product-main-content div.product table.variations .value select{
    font-size: 14px;
    letter-spacing: 1px;
    width: 50%;
}
.single-product .product-main-content div.product .variations_button{
    border: none;
}
.single-product .product-main-content div.product form.cart .quantity .minus, .single-product .product-main-content div.product form.cart .quantity .plus{
    width: 25% !important;
    float: left;
    height: 45px;
    background: #f1f1f1;
    color: #999999;
    font-family: sans-serif !important;
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    text-align: center;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}
.single-product .product-main-content div.product form.cart .quantity .input-text{
    width: 50% !important;
    float: left;
    height: 45px;
    background: #f9f9f9;
    border: none;
    text-align: center;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600;
}
.single-product .product-main-content div.product form.cart .button{
    padding: 0px;
    width: 150px;
    float: left;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 600;
    height: 45px;
    background: black;
    color: white;
    border: black solid 2px;
}
.single-product .product-main-content div.product form.cart .button:before{
    display: none;
}
.single-product .product-main-content div.product form.cart .button:hover{
    background: white;
    color: black;
    transition: 0.3s;
}
.single-product .product-main-content div.product form.cart .quantity{
    position: relative;
}
.single-product .product-main-content div.product form.cart .quantity:after{
    content: "";
    position: absolute;
    height: 25px;
    width: 15px;
    background: #f9f9f9;
    right: 40%;
    top: 13px;
}
.product-main-content .woocommerce-product-details__short-description p{
    font-size: 14px;
}
.single-product .product-main-content .product_title{
    margin-bottom: 0px;
    text-transform: capitalize;
}
.single-product .product-main-content .amount{
    font-size: 22px;
    color: #777777;
}
.product-main-content .woocommerce-tabs ul.tabs{
    border-bottom: 1px solid #f8c7dc;
}
.product-main-content .woocommerce-tabs ul.tabs li.active a{
    border: 1px solid #f8c7dc;
    border-bottom-color: transparent;
}
.single-product .divider-w{
    border-top: 1px solid #f8c7dc;
}
.single-product .product-main-content div.product .single_variation .price{
    margin-top: 20px;
}
.main .module-cart-top{
    padding-top: 200px;
}
.single-product .product-main-content .woocommerce-breadcrumb{
    background: #f9f9f9;
    border-bottom: 1px solid #efefef;
    text-align: right;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    position: relative;
    margin-bottom: 60px;
}
.single-product .product-main-content .woocommerce-breadcrumb .shop-product{
    float: left;
    font-size: 22px;
}
.entry-content .vc_col-has-fill>.vc_column-inner{
    padding-top: 0px;
}
.module-talent{
    padding-bottom: 0px !important;
}
.woocommerce-Tabs-panel p{
    font-size: 14px;
}
.page .calendar-block__title{
    margin-bottom: 40px;
    margin-top: 0px;
}
.instagram-blockhp #sb_instagram{
    padding-bottom: 55px !important;
}
.single-product .product-main-content .woocommerce-breadcrumb .breadcrumb-product{
    max-width: 1170px;
    margin: auto;
    padding: 25px 15px;
}
.single-product .product-main-content .woocommerce-breadcrumb .breadcrumb-product .a-bread-pro{
    padding-right: 10px;
    position: relative;
}
.single-product .product-main-content .woocommerce-breadcrumb .breadcrumb-product .a-bread-pro:after{
    content: "/" !important;
    position: absolute !important;
    right: 2px;
    display: block;
    top: -6px;
}
.single-product .woocommerce.single-product .related.products{
    padding-bottom: 0px;
}
.main .woocommerce-notices-wrapper .woocommerce-message{
    margin-bottom: 0px;
}
.module-cart-bottom .woocommerce .woocommerce-notices-wrapper{
    padding: 0px;
}
.module-talent .content-talent-s .title-search-f{
    width: 100%;
    margin-bottom: 30px !important;
    margin-top: 0px;
}
.module-talent .content-talent-s{
    padding-bottom: 60px;
}
.module-talent .pr-box-image-2 .image-box a img{
    width: 100%;
}
.module-talent .pr-box-image-2 .image-box{
    margin-bottom: 25px;
    margin-top: 0px;
}
.content-pr .example{
    margin-bottom: 40px;
}
.shop_table .coupon button[type="submit"]{
    background: #000;
    color: #fff;
    border: #000 solid 1px;
    padding: 6px 37px;
}
.shop_table button[type="submit"]{
    background: #000;
    color: #fff;
    border: #000 solid 1px;
    padding: 6px 37px;
}

.cart-collaterals .wc-proceed-to-checkout .button.checkout-button{
    background: #000;
    color: #fff;
    border: #000 solid 1px;
    padding: 6px 37px;
}

@media(max-width: 425px){
    .single-team .per-videok .video-content{
        height: 100%;
        max-height: 100%;
    }
    .single-team .per-videok h2.tlp-member-title{
        top: calc(50% + 40px);
    }
}
.cart_totals  .wcppec-checkout-buttons__button img:nth-child(1){
    display: none;
}
.cart_totals  .wcppec-checkout-buttons__button .paypal-cart{
    width: 50px;
    margin-right: 10px;
}
.cart_totals  .wcppec-checkout-buttons__button span{
    font-size: 14px;
}
.main .description-for-SEO{
    margin: 60px 0px;
}
.eventspage .eventsbut{
    margin-bottom: 60px;
    margin-top: 40px;
}
.eventspage .eventsbut .link-ev{
    padding: 0px;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align:center;
    border: #f8c7dc solid 3px;
}
.eventspage .eventsbut .link-ev a{
    padding: 0px;
    border: none;
    display: block;
    line-height: 51px;
}
.contact-page-content .facebook-instagram .instagram, .contact-page-content .facebook-instagram .facebook{
    overflow: hidden;
}
.contact-page-content .facebook-instagram .instagram a:nth-child(1){
    width: 140px;
    float: left;
}
.contact-page-content .facebook-instagram .instagram a:nth-child(1) img{
    width: 100% !important;
    padding: 0px;
}
.contact-page-content .facebook-instagram .instagram .contact-us-txt{
    width: calc(100% - 140px);
    float: right;
    margin: auto;
    padding-left: 30px;
}
.contact-page-content .facebook-instagram .facebook{
    margin-top: 40px;
}
.contact-page-content .facebook-instagram .facebook a:nth-child(1){
    width: 140px;
    float: left;
}
.contact-page-content .facebook-instagram .facebook a:nth-child(1) img{
    width: 100% !important;
    padding: 0px;
}
.contact-page-content .facebook-instagram .facebook a:nth-child(2){
    width: calc(100% - 140px);
    float: right;
    margin: auto;
    padding-left: 30px;
}
.page-module-content  .shop-isle-page-content{
    padding-top: 80px;
}
.blog-detail .content-blog-page{
    padding: 0px 113px;
    overflow: hidden;
}
.blog-detail .content-blog-page p{
    font-size: 16px;
    color: #051C48;
    font-family: "Montserrat", san-serif;
    font-weight: 300;
}
.blog-detail .default-content{
    margin-top: 50px;
}
.blog-detail .default-content .image-content{
    padding: 0px;
    padding-top: 40px;
}
.single-post .post-title.entry-title{
    color: #051C48;
    font-family: "Montserrat", san-serif;
    font-size: 37px;
    font-weight: 600;
    position: relative;
}

.content-talent-s .title-talent-p{
    width: 100%;
    margin-bottom: 30px !important;
    margin-top: 30px;
}
.content-talent-s .search-form{
    width: 50%;
    position: relative;
    border-radius: 5px;
    border: 1px solid #8d8d8d;
    overflow: hidden;
}
.content-talent-s .search-form label{
    margin: 0px;
}
.content-talent-s .search-form .search-field{
    height: 45px;
    width: 85%;
    float: left;
    padding: 10px;
    border: none;
    font-weight: 400;
    color: #000;
    font-size: 14px;
}
.content-talent-s .search-form .search-submit{
    height: 45px;
    width: 15%;
    float: left;
    background: #fff;
    border: none;
    color: #fff;
}
.content-talent-s .search-form:after{
    content: "";
    position: absolute;
    top: 7px;
    display: block;
    width: 1px;
    height: 30px;
    background: #ccc;
    z-index: 9;
    right: 15%;
}
.content-talent-s .search-form .icon-magnifying-glass{
    width: 26px;
    position: absolute;
    top: calc(45px - 25px - 10px);
    right: calc(100% - 85% - 7.5% - 13px);
    cursor: pointer;
}
.module-talent .content-talent-s .title-search-f{
    margin-top: 30px;
}
@media(max-width: 640px){
    .content-talent-s .search-form{
        width: 100%;
    }
}
.module-talent .entry-content .container .pagination{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 65px;
}
#post-60 .entry-content .container{
    position: unset !important;
}
.module-talent .content-talent-s{
    padding-bottom: 160px;
}
.submit-blog-content{
    margin-top: 60px;
}
.submit-blog-content .form-submit-blog .text-submit-blog{
    display: block;
    color: #9B9B9B;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}
.submit-blog-content .form-submit-blog .col-md-6 div:nth-child(2) input, .submit-blog-content .form-submit-blog .col-md-12 div:nth-child(2) input{
    border-radius: 0;
    border: 1px solid #EBEBEB;
    background-color: white;
    height: 50px;
    padding: 12px;
}
.submit-blog-content .form-submit-blog .col-md-6, .submit-blog-content .form-submit-blog .col-md-12{
    margin-bottom: 20px;
}
.submit-blog-content .form-submit-blog .submit-form{
    text-align: center;
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    padding-top: 40px;
}
.submit-blog-content .form-submit-blog .submit-form input{
    width: 200px;
    height: 50px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
}
.single-team .per-social .tpl-social{
    text-align: center;
}

.page-id-12 .wpcf7-form input:not([type="submit"]), .page-id-12 .wpcf7-form textarea{
    letter-spacing: 1px;
}
.infor-contact p{
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
}
.infor-contact{
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%;
}
.map-contact-us {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.map-contact-us iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.woocommerce-product-gallery__wrapper .gallery{
    margin-top: 15px;
}
@media(max-width: 991px){
    .contact-page-content .facebook-instagram .facebook{
        margin-top: 20px;
    }
    .contact-page-content .contact-form .col-md-6:nth-child(2){
        margin-top: 20px;
    }
}
@media(max-width: 550px){
    .contact-page-content .facebook-instagram .instagram a:nth-child(1) img{
        width: 90% !important;
    }
    .contact-page-content .facebook-instagram .facebook a:nth-child(1) img{
        width: 90% !important;
    }
    .page-id-12 .facebook, .page-id-12 .instagram{
        border: none !important;
    }
    .infor-contact p{
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 24px;
    }
}
.ev-usp-block__details .ev-usp-block__cta.btn{
    background: #000;
    color: #fff;
    border-color: #000;
}
.container .eventsbut .link-ev a{
    color: #fff;
    background: #000;

}
.eventspage .eventsbut .link-ev{
    border-color: #000;
}
.contact-link{
    background: #000;
    border-color: #000 !important;
}
.contact-link a{
    color: #fff;
}
.header-block__nav-wrap-inner .infor-menu{

    position: relative;
}
.header-block__nav-wrap-inner .infor-menu .header-block__nav-header{
    text-align: left;
    margin-top: -20px;
}
.header-block__nav-wrap-inner .infor-menu .header-block__nav-header .menu-mail{
    text-transform: lowercase !important;
    letter-spacing: 1.3px;
}
@media (max-width: 1440px){
    .header-block__nav-wrap-inner--main li {
        margin-bottom: 0;
    }
}
.header .navbar .search-form.header{
    position: absolute;
    bottom: -50px;
    left: 30px;
}
.header .navbar .search-form.header label{
    margin: 0px;
}
.header .navbar .search-form.header label .search-field{
    width: 250px;
    height: 35px;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    color: #000;
}
.header .navbar .search-form.header label span, .header .navbar .search-form.header .search-submit{
    display: none;
}
.navbar .navbar-header{
    width: 100%;
}
.usp-block__cta.btn{
    background: #000;
    color: #fff;
    border-color: #000;
    padding: 9px 20px;
}
.navbar-header .header-block__nav-wrap-inner{
    position: relative;
}
.navbar-header .header-block__nav-wrap-inner{
    width: 100%;
}
.navbar-header .infor-menu .header-block__nav-header .menu-tel{
    margin-top: -7px !important;
    position: absolute;
}
.navbar .header-container .header-block__nav-wrap-inner--main li:first-child a{
    margin: 0px;
}
.navbar-header .header-block__nav-wrap-inner--main li{
    padding: 0px 30px;
    min-width: 100% !important;
}
@media(max-width: 1280px){
    .navbar.navbar-custom.navbar-fixed-top:hover .header-container .header-block__nav-wrap-inner--main li:first-child a{
        font-size: 15px !important;
    }

}
@media (max-width: 1440px) and (min-width: 1280px){
    .header .navbar-custom.navbar-fixed-top {
        min-height: 130px;
    }
}
@media(max-width: 1024px){
    .header-block__nav-wrap-inner .infor-menu .header-block__nav-header{
        margin: 0px;
    }
    .navbar-header .infor-menu .header-block__nav-header .menu-tel{
        margin: 0px !important;
    }
    .header-block__nav-wrap-inner .infor-menu .header-block__nav-header .menu-mail{
        margin-top: 15px !important;
        display: block;
    }
    .header .navbar .search-form.header{
        position: unset;
        float: left;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main{
        overflow: hidden;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}
.row-rl-gallery-page .rl-gallery-page .col-md-6{
    width: 50%;
    margin-bottom: 25px;
    overflow: hidden;
}
.row-rl-gallery-page .rl-gallery-page .col-md-6 .per-rl-gallery{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: 50% 15%;
    display: block;
    height: 0;
    overflow: hidden;
    padding-bottom: 67%;
    z-index: 1;
}
.row-rl-gallery-page .rl-gallery-page .col-md-6 .per-rl-gallery:before{
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.075), rgba(12, 12, 12, 0.7),rgba(0,0,0,0.075));
    opacity: 0.7;
    transition: 0.3s;
}
.row-rl-gallery-page .rl-gallery-page .col-md-6 a:hover .per-rl-gallery:before{
    opacity: 0.9;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(12, 12, 12, 0.7),rgba(0,0,0,0.5));
}
.header .navbar .search-form.header label .search-field {
    font-family: lato;
    font-weight: 500;
}
.row-rl-gallery-page .rl-gallery-page{
    overflow: hidden;
}
.row-rl-gallery-page .rl-gallery-page .col-md-6 .per-rl-gallery h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
    width: 80%;
}
#post-733 .container.cum-panav{
    padding: 0px;
    margin: 20px 0px 30px;
}
.single-rl_gallery .post-header.font-alt, .single-rl_gallery .navigation{
    display: none;
}
.rl-basicgrid-gallery .rl-gallery-item img{
    width: 100%;
}
#post-49 .container.cum-panav{
    margin-bottom: 15px;
    padding: 0px;
}
#post-6 .container.cum-panav{
    margin-bottom: 15px;
}
#post-53 .container.cum-panav{
    margin-bottom: 10px;
}
.infor-menu .navbar-cart{
    position: absolute;
    top: -28px;
    left: 170px;
    margin: 0px;
    padding: 0px;
    width: auto;
}
.infor-menu .navbar-cart-inner .icon-basket{
    background-image: url(/wp-content/uploads/2018/12/picturemessage_u3ukyagc.hzl_.png);
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}
.infor-menu .navbar-cart-inner .cart-icon-besket{
    font-size: 15px;
    position: absolute;
    top: 12px;
    padding-left: 7px;
}
.infor-menu .navbar-cart-inner .cart-icon-besket i{
    padding-left: 0;
    font-size: 13px;
}
.infor-menu .navbar-cart-inner .icon-basket:before{
    display: none;
}
.navbar-cart .navbar-cart-inner{
    width: auto;
    height: auto;
    top: -10px;
}
.infor-menu .navbar-cart-inner .cart-item-number{
    top: 20px;
    left: 20px;
    background: #fff;
}
.entry-summary .product_meta{
    display: none;
}
.calendar-block__event--title:before{
    display: none;
}
.calendar-block__event--details .btn{
    background: #000;
    color: #fff;
    position: absolute;
    bottom: 40px;
    padding: 9px 20px;
}
.calendar-block__event{
    position: relative !important;
}
.navbar .header-container .header-block__logos{
    position: unset;
    width: 250px;
    float: left;
}
.header-container .header-block__top-wrap .header-block__nav-wrap{
    width: calc(100% - 250px);
    float: left;
}
.usp-block__wrapper .usp-block__details{
    padding-bottom: 40px;
}
.tlp-team .img-responsive{
    width: 100%;
}
.tlp-row .container.cum-panav{
    padding: 0px !important;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger{
    display: none;
}
.cart_totals  .wcppec-checkout-buttons{
    display: none;
}
.post-entry.entry-content .single-post-lightbox .bg-per-post-lightbox:after{
    background-image: url(/wp-content/uploads/2018/12/cas1.png) !important;
    width: 35px;
    height: 43px;
    background-size: 100%;
}
.post-meta a:nth-child(2){
    display: none !important;
}
.post-header .post-meta::after{
    display: none;
}
.rl-gallery-page.spe .col-md-6:nth-child(6) .per-rl-gallery{
    background-position: top;
}
.single-post .post-title.entry-title .back-event{
    position: absolute;
    left: 10px;
    top: 13px;
    font-size: 16px;
    color: #fff;
    background: #000;
    height: 25px;
    width: 80px;
    line-height: 25px;
    font-weight: 600;
    font-family: "Lato";
    border-radius: 5px;
    cursor: pointer;
}
.single-post .post-title.entry-title .back-event i{
    padding-right: 6px;
}
.per-ticket .title-ticket-pg h3{
    min-height: 66px;
}
.shop_table .quantity .minus, .shop_table .quantity .plus{
    display: none !important;
}
.tlp-team .tlp-single-container{
    max-width: 1280px !important;
}
.video-content #hero-block__video{
    width: 100%;
}
.tlp-member-detail h4{
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}
.tlp-member-detail p{
    color:#000;
    font-size: 19px !important;
    line-height: 28px !important;
}

.tlp-team.tlp-single-container{
    max-width: 1280px;
    margin: auto;
}
.tlp-team.tlp-single-container .per-social{
    text-align: center;
}
.photoblocks-gallery .pb-block.pb-portrait .pb-image{
    top: 0px !important;
}
.row-pr-marketing-page .col-md-6.col-sm-12 .per-rl-gallery{
    padding-bottom: 80%;
    background-size: cover;
}
.row-pr-marketing-page{
    margin: 0px;
}
.row-pr-marketing-page .row{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0px;
    margin-bottom: 25px;
}
.row-pr-marketing-page .row::before{
    display: none;
}
.row-pr-marketing-page .col-md-6{
    width: 100%;
    align-self: center;
}
.row-pr-marketing-page .col-md-6 a{
    font-size: 24px;
}
.pr-content .content-pr .example{
    margin-bottom: 60px !important;
}
.pr-content .content-pr .collaborative_example{
    font-size: 26px;
    font-family: Lato;
    font-weight: 600;
    margin: 30px 0px;
}
.pr-content .content-pr p{
    font-size: 20px;
    font-family: Lato;
    max-width: 100%;
}
/* .rl-gallery-page-gal .box-text-per-gallerypage p{
    display: none;
} */
.box-text-per-gallerypage h3{
    display: none;
}
.rl-gallery-page-gal .col-md-4.col-sm-12{
    position: relative;
    margin-bottom: 25px;
}
/* .rl-gallery-page-gal .box-text-per-gallerypage h3{
    position: absolute;
    margin: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 34px;
    font-weight: 600;
} */
.description-gallery-page p{
    font-size: 22px;
    max-width: 800px;
    margin: auto;
}
.description-gallery-page h2{
    font-size: 40px;
}
.about-us-page h4{
    font-size: 36px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
    color: #000;
    margin-bottom: 40px;
}
.about-us-page p{
    color: #000;
    font-size: 18px;
    font-family: Lato;
}
.navbar-header .header-block__nav-wrap{
    display: grid;
}
.rl-gallery-item .rl-gallery-item-content{
    position: relative;
}
.rl-gallery-item .rl-gallery-item-content .rl-gallery-search{
    position: absolute;
    width: 30px;
    height: 38px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #929292;
}
.rl-gallery-item .rl-gallery-item-content .rl-gallery-search img{
    width: 26px;
    padding-left: 4px;
    padding-top: 7px;
}
.wplightbox .bg-per-post-lightbox .rl-gallery-search{
    position: absolute;
    width: 30px;
    height: 38px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #929292;
}
.wplightbox .bg-per-post-lightbox .rl-gallery-search img{
    width: 26px;
    padding-left: 4px;
    padding-top: 7px;
}
.wplightbox .lightbox-fix-img{
    background-size: 100% !important;
    background-position: top !important;
}
.post-entry.entry-content .rl-gallery-container{
    display: flex;
    flex-direction: column;
}
.post-entry.entry-content .rl-gallery-container .rl-gallery{
    order: 1;
}
.post-entry.entry-content .rl-gallery-container .back-event{
    font-size: 16px;
    color: #fff;
    background: #000;
    width: 80px;
    line-height: 25px;
    font-weight: 600;
    font-family: "Lato";
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}
.post-entry.entry-content .rl-gallery-container .back-event i{
    padding-right: 7px;
}
.perpostlb-has-video .bg-per-post-lightbox i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #fff;
}
.perpostlb-has-video .bg-per-post-lightbox .rl-gallery-search{
    display: none;
}
.single-post-lightbox.venues-page{
    overflow: hidden;
}
.per-social{
    margin-bottom: 0px !important;
}
.per-social .tpl-social{
    display:none;
}
.per-social .links-personk:nth-child(4){
    margin-bottom: 0px !important;
}
.blog-page-custom .per-blog .bgblog{
    background-position: top;
}
.post-entry.entry-content .blog-content{
    color: #000;

}
.post-entry.entry-content .blog-content h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
.post-entry.entry-content .blog-content p{
    font-size: 20px;
    font-weight: 400;
}
.post-entry.entry-content .blog-content .img-blog{
    text-align: center;
    padding: 20px 0px;
}
.link-contact-us-social a{
    width: 50%;
    text-align: center;
    height: 65px;
    line-height: 65px;
    background: #000;
    display: block;
    margin: auto;
    color: #fff;
    font-size: 24px;
}
.link-contact-us-social {
    margin-bottom: 40px;
}
.gallery-page-img .img-gallery-detail .wplightbox .bg-per-post-lightbox{
    padding-bottom: 75%;
    background-size: cover;
    background-position: top;
}
.gallery-page-img{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-column-gap: 20px;
    margin-bottom: 40px;
}
.gallery-page-img .img-gallery-detail p{
    font-size: 16px;
}
.privacy-policy-page, .modern-slavery-statement-page{
    color: #000;
}
.privacy-policy-page .container, .modern-slavery-statement-page .container{
    padding-top: 50px;
}
.privacy-policy-page p, .privacy-policy-page li , .modern-slavery-statement-page p{
    font-size: 16px;
}
.navbar-header .header-block__nav-wrap{
    padding-top: 0px;
}
.module-cart-bottom .row .woocommerce .woocommerce-message{
    display: none;
}
.hero-block__wrapper .img-banner-home{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

@media (min-width: 1441px) and (max-width: 1920px){
    .navbar-header .header-block__nav-wrap-inner{
        padding-left: 10% !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1280px;
        justify-content: center !important;
    }
}
@media(min-width: 1500px){
    .navbar-header .header-block__nav-wrap-inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1280px;
        justify-content: center !important;
    }


}
@media(min-width: 1800px){
    .header-block__nav-wrap-inner--main li{
        min-width: 150px !important;
    }

}
@media(max-width: 1500px){
    .navbar-header .header-block__nav-wrap-inner--main li{
        padding: 0px 27px;
    }
}

@media(max-width: 1440px){
    .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main{
        max-width: 300px;
    }
    .infor-menu .navbar-cart-inner .cart-icon-besket{
        display: none;
    }
    .header .navbar .search-form.header label .search-field{
        width: 220px;
    }
    .header-block__nav-wrap-inner .infor-menu .header-block__nav-header .menu-mail{
        letter-spacing:inherit;
    }
    .navbar .header-container .header-block__logos{
        width: 170px;
    }

    .header-container .header-block__top-wrap .header-block__nav-wrap{
        width: calc(100% - 200px);
        float: left;
    }
    .header-container .header-block__nav-wrap-inner{
        justify-content: unset;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        padding-left: 0px;
    }
    .header-container .header-block__nav-wrap-inner--main li{
        min-width: 100%;
    }
    .navbar-header .header-block__nav-wrap-inner--main li{
        padding: 0px 20px;
    }
    .header .navbar .search-form.header{
        left: 20px;
    }
}
@media (min-width: 1601px){
    .navbar-header .header-block__nav-wrap-inner{
        justify-content: unset;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        /* 		padding-left: 5% !important; */
    }
    .header-container .header-block__nav-wrap-inner--main li:first-child a{
        font-size: 20px !important;
    }
}
@media(min-width:1441px){
    .navbar .header-container .header-block__logos{
        width: 210px;
    }
    .header-container .header-block__top-wrap .header-block__nav-wrap{
        width: calc(100% - 220px);
    }
    .navbar-header .header-block__nav-wrap-inner{
        padding-left: 0px;
        justify-content: unset;	}
    .header-block__nav-wrap-inner--main li{
        min-width: 125px;
    }
    .infor-menu .navbar-cart{
        right: -80px !important;
    }
    .navbar .header-container .header-block__logos{
        width: 250px;
    }

}
@media(max-width:1440px){
    .infor-menu .navbar-cart{
        left: 215px;
    }
}
@media(max-width:1300px){
    .header .navbar .search-form.header{
        left: 10px;
    }
    .infor-menu .navbar-cart-inner .icon-basket{
        width:30px;
        height: 30px;
    }

    .header .navbar .search-form.header label .search-field{
        width:220px;
        margin-left: 10px;
    }
    .calendar-block.block .calendar-block__event--title{
        line-height: 32px;
        font-size: 22px;
    }

}
@media(max-width: 1150px){
    .navbar-header .header-block__nav-wrap-inner--main li{
        padding: 0px 10px;
    }
    .header .navbar .search-form.header label .search-field{
        margin-left: 0px;
    }
}
@media(max-width: 1300px) and (min-width: 1281px){
    .infor-menu .navbar-cart{
        right: 45px;
        top: -25px;
    }
}
@media(max-width: 1280px){
    .infor-menu .navbar-cart{
        left: 180px;
        top: -25px;
    }
    .header .navbar .search-form.header label .search-field{
        width:200px;
    }
}
@media(max-width: 1260px){
    .navbar .header-container .header-block__logos{
        width: 150px;
    }
    .header-container .header-block__top-wrap .header-block__nav-wrap{
        width: calc(100% - 150px);
    }
    .header-container .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main:nth-child(4){
        padding:0px !important;
    }
    .header-block__nav-wrap-inner .infor-menu .header-block__nav-header .menu-mail{
        letter-spacing: 1px;
    }
}
@media (max-width: 1440px) and (min-width: 1024px){
    .header-container .header-block__nav-wrap{
        padding-top: 30px;
    }
}
@media(min-width: 1025px){
    .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main:nth-child(4){
        padding: 0px !important;
    }
    .navbar .header-container{
        min-height: 150px;
    }
    .header-block__nav-wrap-inner--main.infor-menu.infor-menu-mobile{
        display:none !important;
    }
    .header-container .header-block__nav-wrap{
        display: grid !important;
    }
}
@media(max-width: 1024px){
    .infor-menu .navbar-cart{
        display: block !important;
        margin: 0px;
        padding: 10px 0px !important;
        width: 100% !important;
        position: unset;
        margin-top: 20px;
    }
    .header-container .header-block__nav-wrap .header-block__nav-wrap-inner--main li:first-child a{
        left: 10px;
        display: block;
    }
    .header-block__nav-wrap-inner--main:nth-child(4) .header-block__nav-header{
        padding-bottom: 15px;
    }
    .infor-menu .navbar-cart-inner{
        float: left;
    }
    .header-container .header-block__nav-wrap-inner{
        display: block;
        padding-left: 5%;
        padding-right: 5%;
        height: calc(100% - 110px);
    }
    .header-container .header-block__top-wrap .header-block__nav-wrap{
        width: 100%;
    }
    .navbar .header-container .header-block__logos{
        width: 100%;
    }
    .header .navbar .search-form.header label .search-field{
        margin-left: 0px;
    }
    .header .navbar .search-form.header{
        padding-left: 10px;
    }
    .navbar-header .header-block__nav-wrap{
        display: none;
        height: 100vh;
        padding-top: 0px;
    }
    /* 	.header-container .header-block__nav-wrap-inner{
            display: flex;
            flex-direction: column;
            padding-left:5%;
        }
        .header-block__nav-wrap-inner .header-block__nav-wrap-inner--main{
            order: 1;
        }
        .header-block__nav-wrap-inner .infor-menu{
            order: inherit !important;
        } */
    .header-block__nav-wrap-inner--main.infor-menu:last-child{
        display:none !important;
    }
    .header-block__nav-wrap-inner--main.infor-menu-mobile{
        display: block;
    }
}

@media(max-width: 767px){
    .row-rl-gallery-page .rl-gallery-page .col-md-6{
        width: 100%;
        margin-bottom: 15px;
    }
    .main .description-for-SEO{
        margin: 30px 0px;
    }
    #post-733 .container.cum-panav{
        margin: 0px 0px 10px;
    }
    .row-pr-marketing-page .row{
        grid-template-columns: 100%;
    }
    .row-pr-marketing-page .col-md-6 a{
        font-size: 18px;
    }
    .single-post .post-title.entry-title .back-event{
        display: block;
        position: unset;
        margin-top: 15px;
    }
    .post-entry.entry-content .blog-content h2{
        font-size: 22px;
    }
    .post-entry.entry-content .blog-content p{
        font-size: 18px;
    }
    .gallery-page-img{
        display: grid;
        grid-template-columns: 100%;
        grid-column-gap: 0px;
    }
}